In [3]:
import pandas as pd
import numpy as np

In [6]:
import datetime

In [7]:
totaldf = pd.read_csv('Data/totaldf.csv')

In [10]:
totaldf.columns

Index(['Unnamed: 0', 'title', 'link', 'release_date', 'been_sale',
       'orig_price', 'num_reviews', 'review_rating', 'num_languages', 'tags',
       'num_tags', 'genres', 'num_genres', 'publisher'],
      dtype='object')

In [12]:
totaldf.drop(columns=['Unnamed: 0'],inplace=True)

totaldf.info()

In [16]:
reviewsdf = totaldf[totaldf.num_reviews == 'HELP']

In [17]:
reviewsdf.shape

(124, 13)

In [18]:
totaldf.replace('HELP', np.nan, inplace=True)

In [30]:
totaldf[totaldf.num_reviews != np.nan]

,title,link,release_date,been_sale,orig_price,num_reviews,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,https://store.steampowered.com/app/1172620/Sea...,"Jun 3, 2020",1,$39.99,"111,078",Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios
1,It Takes Two,https://store.steampowered.com/app/1426210/It_...,"Mar 26, 2021",0,$39.99,"11,813",Overwhelmingly Positive,12,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts
2,Valheim,https://store.steampowered.com/app/892970/Valh...,"Feb 2, 2021",0,$19.99,"216,651",Overwhelmingly Positive,12,"['Open World Survival Craft', 'Online Co-Op', ...",20.0,"['Action', 'Adventure', 'Indie', 'RPG', 'Early...",6.0,Coffee Stain Publishing
3,Horizon Zero Dawnâ„¢ Complete Edition,https://store.steampowered.com/app/1151640/Hor...,"Aug 7, 2020",1,$49.99,"45,704",Mostly Positive,20,"['Adventure', 'Open World', 'Action', 'Female ...",20.0,"['Action', 'Adventure', 'RPG']",3.0,"PlayStation Mobile, Inc."
4,Phasmophobia,https://store.steampowered.com/app/739630/Phas...,"Sep 18, 2020",0,$13.99,"256,136",Overwhelmingly Positive,25,"['Horror', 'Online Co-Op', 'Multiplayer', 'Psy...",20.0,[],0.0,Kinetic Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14976,Dinosaur Hunt - Dragon Hunter Expansion Pack,https://store.steampowered.com/app/408102/Dino...,"Dec 18, 2015",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14977,Dinosaur Hunt - Giant Spiders Hunter Expansion...,https://store.steampowered.com/app/431191/Dino...,"Mar 16, 2016",0,$0.99,NaN,Mixed,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14978,Dinosaur Hunt - Brontosaurus Expansion Pack,https://store.steampowered.com/app/434942/Dino...,"Mar 16, 2016",0,$0.99,NaN,Mixed,NaN,"['Adventure', 'Indie', 'Simulation', 'Action']",4.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14979,"Dinosaur Hunt - Vampires, Gargoyles, Mutants H...",https://store.steampowered.com/app/431190/Dino...,"Jan 22, 2016",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14980,Dinosaur Hunt - Stegosaurus Expansion Pack,https://store.steampowered.com/app/408100/Dino...,"Nov 13, 2015",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros

In [26]:
totaldf[totaldf.num_reviews>1]

TypeError: '>' not supported between instances of 'str' and 'int'

In [38]:
#reviews_df = totaldf.dropna(axis=0, subset=[totaldf.num_reviews])

In [40]:
droppeddf = totaldf.dropna()

In [41]:
droppeddf.shape

(2101, 13)

In [44]:
int(droppeddf.num_reviews)

TypeError: cannot convert the series to <class 'int'>

In [46]:
totaldf.num_reviews.astype('float')

ValueError: could not convert string to float: '111,078'

In [69]:
def converter (str):
    str.replace(',', '')

In [50]:
totaldf.loc[1:3,'num_reviews']

1     11,813
2    216,651
3     45,704
Name: num_reviews, dtype: object

In [52]:
strang = '11,813'
strang

'11,813'

In [58]:
strang.replace(',','')

'11813'

In [71]:
totaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14981 entries, 0 to 14980
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14981 non-null  object
 1   link           14981 non-null  object
 2   release_date   14939 non-null  object
 3   been_sale      14981 non-null  int64
 4   orig_price     14981 non-null  object
 5   num_reviews    5528 non-null   object
 6   review_rating  13908 non-null  object
 7   num_languages  6744 non-null   object
 8   tags           14980 non-null  object
 9   num_tags       14980 non-null  float64
 10  genres         14981 non-null  object
 11  num_genres     14981 non-null  float64
 12  publisher      14964 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.5+ MB

In [72]:
totaldf.num_reviews.apply(converter)

AttributeError: 'float' object has no attribute 'replace'

In [123]:
list1=[]
for nums in totaldf.num_reviews:
    list1.append(nums)

In [124]:
len(list1)

14981

In [128]:
list2 = []
for items in list1:
        list2.append(str(items.replace(',','')))

In [126]:
list1[0].replace(',','')

'111078'

In [130]:
totaldf.replace('nan',np.nan,inplace=True)

In [129]:
list2

['111078',
 '11813',
 '216651',
 '45704',
 '256136',
 '23944',
 '598684',
 '38064',
 '8397',
 '73464',
 '74220',
 '87734',
 '446261',
 'nan',
 'nan',
 '148259',
 '235',
 '37643',
 '60517',
 '346111',
 'nan',
 '7953',
 'nan',
 '407256',
 '174885',
 '9324',
 '260518',
 '356033',
 '111244',
 'nan',
 'nan',
 '302018',
 'nan',
 '534568',
 'nan',
 '21377',
 'nan',
 'nan',
 'nan',
 '138362',
 '263559',
 'nan',
 'nan',
 'nan',
 '5372',
 'nan',
 '721278',
 'nan',
 '66011',
 'nan',
 '43581',
 '3203',
 '55841',
 'nan',
 '69968',
 '163092',
 'nan',
 '84207',
 '418832',
 '32968',
 'nan',
 '12411',
 '1469',
 '5348',
 '40998',
 '897872',
 '40082',
 '154',
 '98920',
 '189749',
 'nan',
 'nan',
 '137725',
 '23181',
 '684935',
 'nan',
 '706',
 'nan',
 '21668',
 'nan',
 '5887',
 '5008',
 '119296',
 'nan',
 '84494',
 '479077',
 '96979',
 '159604',
 '499',
 '5245',
 'nan',
 '912',
 '18590',
 '19814',
 '17350',
 '1697393',
 'nan',
 'nan',
 '4296',
 '40674',
 '50151',
 '24066',
 '99684',
 '24438',
 '91488',
 '12957',
 '436',
 '5771',
 'nan',
 '156325',
 '1575',
 '16365',
 '29730',
 '3288',
 '156374',
 '17113',
 '19251',
 '129675',
 '114132',
 '872',
 '3310',
 '132839',
 'nan',
 'nan',
 '51694',
 '28213',
 '36624',
 '71036',
 '162',
 'nan',
 '189657',
 'nan',
 '3674',
 'nan',
 '2174',
 '19921',
 '10879',
 '3153',
 '5350',
 '1631',
 '76947',
 '32911',
 '1855',
 '1376',
 '289',
 '85913',
 '32201',
 '21785',
 '1798',
 '21997',
 'nan',
 '8084',
 '37348',
 'nan',
 '8415',
 'nan',
 'nan',
 '243237',
 'nan',
 '252766',
 '2923',
 '1207',
 '19658',
 '2525',
 '36553',
 '54730',
 '10070',
 'nan',
 'nan',
 '25498',
 '1807',
 '3713',
 '554',
 '64602',
 '5548',
 'nan',
 '28896',
 '6673',
 '12746',
 'nan',
 '2421',
 '13768',
 '35624',
 '40480',
 '71432',
 'nan',
 '43662',
 '6891',
 'nan',
 'nan',
 'nan',
 '1608',
 '33495',
 'nan',
 '20101',
 '36085',
 '3352',
 '3899',
 '16389',
 '146471',
 'nan',
 '28259',
 'nan',
 '57636',
 '1077',
 '92596',
 '162',
 '1271',
 'nan',
 '713',
 '17450',
 '10443',
 '126390',
 '66162',
 '6455',
 'nan',
 '87',
 '32670',
 '5994',
 '31048',
 '68738',
 '46791',
 '271',
 'nan',
 '30302',
 '72555',
 '5200',
 'nan',
 '1956',
 '12642',
 '43561',
 '5658',
 '19604',
 '43602',
 '25392',
 '6677',
 '25734',
 'nan',
 '44413',
 '22623',
 'nan',
 'nan',
 '500239',
 '21733',
 '100912',
 '156192',
 'nan',
 '9386',
 'nan',
 '144760',
 'nan',
 '69002',
 '35459',
 '11442',
 'nan',
 '21259',
 '7073',
 '45923',
 '35202',
 'nan',
 'nan',
 'nan',
 '11177',
 '62199',
 'nan',
 'nan',
 '236258',
 '21092',
 'nan',
 'nan',
 'nan',
 '70361',
 '74238',
 '13761',
 'nan',
 '101449',
 'nan',
 '11053',
 '90027',
 '18424',
 '11278',
 'nan',
 'nan',
 '13863',
 'nan',
 '15870',
 '1787',
 'nan',
 '68',
 '2046',
 '807',
 '16038',
 '2286',
 '3264',
 'nan',
 '41269',
 '494',
 '19286',
 '414244',
 '150489',
 '21911',
 'nan',
 '88979',
 '33715',
 'nan',
 '4643',
 '4689',
 'nan',
 '35848',
 '233948',
 '15285',
 '17321',
 '88433',
 'nan',
 '41922',
 'nan',
 '1616',
 '52291',
 'nan',
 '1174',
 'nan',
 '16568',
 '78145',
 'nan',
 '11827',
 'nan',
 '1825',
 '73991',
 '24378',
 '20789',
 '1892',
 '7545',
 '9290',
 'nan',
 'nan',
 '5643',
 '18133',
 '4718',
 '100910',
 '1774',
 '72683',
 'nan',
 '652',
 '36385',
 '9564',
 '14866',
 '1388',
 '102771',
 'nan',
 '1411',
 '73',
 '5662',
 '32633',
 '7483',
 'nan',
 '878',
 'nan',
 '64248',
 '124210',
 'nan',
 'nan',
 'nan',
 '60268',
 'nan',
 '37942',
 '43520',
 '171',
 '1320',
 'nan',
 '1123',
 'nan',
 'nan',
 'nan',
 '4420',
 'nan',
 'nan',
 '32171',
 '18750',
 'nan',
 '46538',
 '4331',
 '10956',
 '63608',
 '6950',
 '3712',
 '29063',
 '12519',
 '28',
 '1311',
 '28264',
 '28109',
 '16476',
 '623',
 '3364',
 'nan',
 '18224',
 '19759',
 '272',
 '4682',
 '9146',
 '24481',
 'nan',
 '45302',
 'nan',
 '34801',
 'nan',
 '5511',
 '25191',
 '450',
 '13194',
 '5971',
 '22899',
 '13692',
 '26036',
 '23110',
 '82866',
 'nan',
 '42617',
 '13118',
 '91680',
 '17501',
 '65984',
 '1775',
 '24141',
 'nan',
 '2059',
 'nan',
 '2715',
 '86986',
 '1528',
 '18222',
 '4063',
 '4501',
 'nan',
 '174071',
 '11602',
 '6984',
 'nan',
 '1458',
 'nan',
 '236048',
 '33220',
 '1091',
 '1644',
 '6396',
 '381',
 '5380',
 'nan',
 '15706',
 '60221',
 '3002',
 '34217',
 '2790',
 'nan',
 'nan',
 '18071',
 '16871',
 '30040',
 'nan',
 'nan',
 '412',
 '4811',
 'nan',
 'nan',
 '3057',
 '34682',
 'nan',
 '22178',
 '6157',
 '121215',
 'nan',
 'nan',
 '10571',
 '585',
 '858',
 '1511',
 'nan',
 '98134',
 '10044',
 '7071',
 '40398',
 'nan',
 '17347',
 'nan',
 '25808',
 'nan',
 '23347',
 'nan',
 '2017',
 '8616',
 'nan',
 '19289',
 '100',
 'nan',
 '6932',
 '43677',
 '37857',
 'nan',
 '59056',
 '54811',
 '11649',
 '1208',
 '8125',
 '24543',
 '731',
 '19178',
 '8657',
 '99037',
 '117497',
 'nan',
 'nan',
 'nan',
 '613',
 '503',
 '2779',
 '6834',
 '1444',
 'nan',
 '8899',
 '2283',
 'nan',
 '26424',
 '2007',
 'nan',
 'nan',
 '724',
 'nan',
 '34837',
 '527',
 '14570',
 '6089',
 '25138',
 '53686',
 '62564',
 '10522',
 'nan',
 '31480',
 '29228',
 '3396',
 '959',
 'nan',
 '1127',
 '4483',
 '45936',
 '1525',
 '4039',
 '5055',
 '57218',
 'nan',
 '3624',
 '39337',
 '4274',
 'nan',
 '1475',
 '9122',
 '1757',
 '21493',
 '60103',
 '69774',
 'nan',
 'nan',
 '17305',
 '16178',
 'nan',
 'nan',
 'nan',
 '5878',
 'nan',
 'nan',
 'nan',
 '3157',
 '10126',
 '13280',
 '926',
 '121163',
 'nan',
 'nan',
 'nan',
 '20625',
 '2034',
 '269',
 '2492',
 '781',
 '41570',
 'nan',
 '1974',
 '9956',
 '35048',
 '3652',
 'nan',
 '7878',
 'nan',
 '87060',
 '13745',
 '15737',
 'nan',
 '1018',
 'nan',
 '3502',
 'nan',
 'nan',
 '22409',
 '30264',
 '21294',
 'nan',
 '6173',
 '2237',
 '15248',
 '20088',
 '1208',
 '13943',
 '12378',
 'nan',
 'nan',
 'nan',
 'nan',
 '3620',
 'nan',
 'nan',
 '5453',
 'nan',
 '27604',
 '12303',
 'nan',
 '10302',
 '19176',
 '476',
 '10776',
 '10704',
 'nan',
 'nan',
 'nan',
 'nan',
 '882',
 '2597',
 '44547',
 '424',
 '3791',
 '13946',
 '40871',
 '8584',
 '1721',
 'nan',
 'nan',
 'nan',
 'nan',
 '8484',
 'nan',
 '3441',
 'nan',
 '1864',
 '5054',
 'nan',
 '124',
 'nan',
 'nan',
 '3389',
 '5444',
 '652',
 '7906',
 '23310',
 '64',
 '4174',
 '517',
 'nan',
 '1854',
 '30015',
 '4449',
 'nan',
 '11555',
 'nan',
 '2854',
 'nan',
 'nan',
 '2232',
 '7685',
 '2444',
 '400',
 '4062',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 '75018',
 '7236',
 '5870',
 'nan',
 '104',
 '1895',
 '1220',
 'nan',
 'nan',
 '15699',
 'nan',
 '6096',
 '1375',
 '21154',
 '3527',
 '29529',
 '359',
 '564',
 '2115',
 '6160',
 '5528',
 'nan',
 'nan',
 '8845',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 '10580',
 '6860',
 '25582',
 'nan',
 '52374',
 '23470',
 '4125',
 '85057',
 'nan',
 '5660',
 'nan',
 '3039',
 '21789',
 'nan',
 '6304',
 '59236',
 'nan',
 'nan',
 '30956',
 '2104',
 '763',
 '8434',
 '14209',
 'nan',
 'nan',
 'nan',
 '30057',
 '5886',
 '3726',
 '13132',
 '17696',
 'nan',
 'nan',
 'nan',
 '1178',
 'nan',
 '2578',
 '13048',
 '4056',
 'nan',
 'nan',
 '37992',
 '3482',
 'nan',
 '527',
 '32709',
 'nan',
 'nan',
 'nan',
 '5561',
 '11309',
 'nan',
 '63953',
 'nan',
 '45030',
 '1065',
 '826',
 '30826',
 'nan',
 '10345',
 '3133',
 '6856',
 '6926',
 '45333',
 '544',
 '14524',
 '5245',
 '28350',
 '23092',
 'nan',
 '36333',
 '1822',
 'nan',
 'nan',
 'nan',
 '21392',
 'nan',
 '29972',
 '2318',
 '2357',
 '326',
 '113',
 '17787',
 '2775',
 '1035',
 '87224',
 '132',
 'nan',
 '3948',
 'nan',
 'nan',
 '1041',
 '88310',
 '1285',
 'nan',
 '28773',
 'nan',
 '13496',
 'nan',
 'nan',
 'nan',
 '8669',
 '8855',
 '51200',
 'nan',
 '5229',
 '9865',
 '256',
 '45805',
 '83',
 '1004',
 '7906',
 '4887',
 'nan',
 'nan',
 '2432',
 '5609',
 '2650',
 '3361',
 'nan',
 'nan',
 '89029',
 '8466',
 '5762',
 '12120',
 '7642',
 '685',
 'nan',
 'nan',
 '1564',
 '245',
 '156',
 'nan',
 '496687',
 'nan',
 '43468',
 '6156',
 'nan',
 '7877',
 'nan',
 'nan',
 '1944',
 '69264',
 'nan',
 '7037',
 'nan',
 'nan',
 '2827',
 '10892',
 '1063',
 '11918',
 '13264',
 '45795',
 'nan',
 '871',
 '38653',
 'nan',
 '317',
 '1222',
 '13210',
 '6337',
 'nan',
 '9698',
 'nan',
 'nan',
 'nan',
 '12924',
 'nan',
 'nan',
 'nan',
 '11776',
 'nan',
 '3524',
 '34905',
 '1381',
 '3152',
 '4322',
 '8282',
 'nan',
 'nan',
 '30310',
 '2842',
 '7947',
 '39991',
 '2493',
 'nan',
 'nan',
 '1430',
 'nan',
 '53536',
 'nan',
 '14',
 '14',
 'nan',
 '14',
 'nan',
 '34287',
 'nan',
 '19807',
 'nan',
 '4535',
 'nan',
 '193',
 'nan',
 '789',
 '41052',
 'nan',
 '1324',
 '122',
 'nan',
 '3637',
 'nan',
 'nan',
 '12185',
 'nan',
 '10863',
 '77661',
 'nan',
 '1288',
 '32792',
 'nan',
 'nan',
 'nan',
 '2476',
 '234',
 '11829',
 'nan',
 '49773',
 'nan',
 '1454',
 'nan',
 'nan',
 '4744',
 '661',
 'nan',
 '2068',
 '4061',
 'nan',
 '66068',
 '18998',
 'nan',
 '3239',
 'nan',
 '3290',
 'nan',
 '76489',
 '3950',
 '60638',
 '1055',
 '58407',
 '27060',
 'nan',
 '714',
 '2146',
 '28637',
 '93757',
 '4332',
 '6197',
 '652',
 '2875',
 'nan',
 'nan',
 '46365',
 '25425',
 'nan',
 '2379',
 '2742',
 '14182',
 'nan',
 '1595',
 '97',
 'nan',
 '9171',
 '7624',
 '513',
 '15839',
 'nan',
 '12966',
 'nan',
 'nan',
 '612',
 'nan',
 'nan',
 '1511',
 '3475',
 ...]

In [96]:
totaldf.num_reviews.as_numeric()

AttributeError: 'Series' object has no attribute 'as_numeric'

In [98]:
totaldf[totaldf.num_reviews.dropna()]

KeyError: "None of [Index(['111,078', '11,813', '216,651', '45,704', '256,136', '23,944',\n       '598,684', '38,064', '8,397', '73,464',\n       ...\n       '15', '10', '16', '487', '193', '155', '960', '56', '65', '47'],\n      dtype='object', length=5528)] are in the [columns]"

In [108]:
totaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14981 entries, 0 to 14980
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14981 non-null  object
 1   link           14981 non-null  object
 2   release_date   14939 non-null  object
 3   been_sale      14981 non-null  int64
 4   orig_price     14981 non-null  object
 5   num_reviews    5528 non-null   object
 6   review_rating  13908 non-null  object
 7   num_languages  6744 non-null   object
 8   tags           14980 non-null  object
 9   num_tags       14980 non-null  float64
 10  genres         14981 non-null  object
 11  num_genres     14981 non-null  float64
 12  publisher      14964 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.5+ MB

In [114]:
#totaldf.dropna(subset=totaldf.num_reviews)

In [119]:
totaldf.num_reviews.value_counts

<bound method IndexOpsMixin.value_counts of 0        111,078
1         11,813
2        216,651
3         45,704
4        256,136
          ...
14976        NaN
14977        NaN
14978        NaN
14979        NaN
14980        NaN
Name: num_reviews, Length: 14981, dtype: object>

In [122]:
totaldf.num_reviews = totaldf.num_reviews.astype(str)

In [134]:
totaldf.num_reviews = totaldf.num_reviews.astype(int)

ValueError: invalid literal for int() with base 10: '111,078'

In [145]:
totaldf.drop(totaldf.loc[totaldf['num_reviews'] == np.nan].index, inplace=True)

In [144]:
totaldf.shape

(14981, 13)

In [137]:
# cannot for the life of me figure out how to convert these data types or drop nulls

In [146]:
np.nan in totaldf.num_reviews

False

In [148]:
totaldf.num_reviews.value_counts

<bound method IndexOpsMixin.value_counts of 0        111,078
1         11,813
2        216,651
3         45,704
4        256,136
          ...
14976        NaN
14977        NaN
14978        NaN
14979        NaN
14980        NaN
Name: num_reviews, Length: 14981, dtype: object>

In [163]:
droppedreviews = totaldf.dropna(subset = totaldf.num_reviews).index()

KeyError: ['111,078', '11,813', '216,651', '45,704', '256,136', '23,944', '598,684', '38,064', '8,397', '73,464', '74,220', '87,734', '446,261', nan, nan, '148,259', '235', '37,643', '60,517', '346,111', nan, '7,953', nan, '407,256', '174,885', '9,324', '260,518', '356,033', '111,244', nan, nan, '302,018', nan, '534,568', nan, '21,377', nan, nan, nan, '138,362', '263,559', nan, nan, nan, '5,372', nan, '721,278', nan, '66,011', nan, '43,581', '3,203', '55,841', nan, '69,968', '163,092', nan, '84,207', '418,832', '32,968', nan, '12,411', '1,469', '5,348', '40,998', '897,872', '40,082', '154', '98,920', '189,749', nan, nan, '137,725', '23,181', '684,935', nan, '706', nan, '21,668', nan, '5,887', '5,008', '119,296', nan, '84,494', '479,077', '96,979', '159,604', '499', '5,245', nan, '912', '18,590', '19,814', '17,350', '1,697,393', nan, nan, '4,296', '40,674', '50,151', '24,066', '99,684', '24,438', '91,488', '12,957', '436', '5,771', nan, '156,325', '1,575', '16,365', '29,730', '3,288', '156,374', '17,113', '19,251', '129,675', '114,132', '872', '3,310', '132,839', nan, nan, '51,694', '28,213', '36,624', '71,036', '162', nan, '189,657', nan, '3,674', nan, '2,174', '19,921', '10,879', '3,153', '5,350', '1,631', '76,947', '32,911', '1,855', '1,376', '289', '85,913', '32,201', '21,785', '1,798', '21,997', nan, '8,084', '37,348', nan, '8,415', nan, nan, '243,237', nan, '252,766', '2,923', '1,207', '19,658', '2,525', '36,553', '54,730', '10,070', nan, nan, '25,498', '1,807', '3,713', '554', '64,602', '5,548', nan, '28,896', '6,673', '12,746', nan, '2,421', '13,768', '35,624', '40,480', '71,432', nan, '43,662', '6,891', nan, nan, nan, '1,608', '33,495', nan, '20,101', '36,085', '3,352', '3,899', '16,389', '146,471', nan, '28,259', nan, '57,636', '1,077', '92,596', '162', '1,271', nan, '713', '17,450', '10,443', '126,390', '66,162', '6,455', nan, '87', '32,670', '5,994', '31,048', '68,738', '46,791', '271', nan, '30,302', '72,555', '5,200', nan, '1,956', '12,642', '43,561', '5,658', '19,604', '43,602', '25,392', '6,677', '25,734', nan, '44,413', '22,623', nan, nan, '500,239', '21,733', '100,912', '156,192', nan, '9,386', nan, '144,760', nan, '69,002', '35,459', '11,442', nan, '21,259', '7,073', '45,923', '35,202', nan, nan, nan, '11,177', '62,199', nan, nan, '236,258', '21,092', nan, nan, nan, '70,361', '74,238', '13,761', nan, '101,449', nan, '11,053', '90,027', '18,424', '11,278', nan, nan, '13,863', nan, '15,870', '1,787', nan, '68', '2,046', '807', '16,038', '2,286', '3,264', nan, '41,269', '494', '19,286', '414,244', '150,489', '21,911', nan, '88,979', '33,715', nan, '4,643', '4,689', nan, '35,848', '233,948', '15,285', '17,321', '88,433', nan, '41,922', nan, '1,616', '52,291', nan, '1,174', nan, '16,568', '78,145', nan, '11,827', nan, '1,825', '73,991', '24,378', '20,789', '1,892', '7,545', '9,290', nan, nan, '5,643', '18,133', '4,718', '100,910', '1,774', '72,683', nan, '652', '36,385', '9,564', '14,866', '1,388', '102,771', nan, '1,411', '73', '5,662', '32,633', '7,483', nan, '878', nan, '64,248', '124,210', nan, nan, nan, '60,268', nan, '37,942', '43,520', '171', '1,320', nan, '1,123', nan, nan, nan, '4,420', nan, nan, '32,171', '18,750', nan, '46,538', '4,331', '10,956', '63,608', '6,950', '3,712', '29,063', '12,519', '28', '1,311', '28,264', '28,109', '16,476', '623', '3,364', nan, '18,224', '19,759', '272', '4,682', '9,146', '24,481', nan, '45,302', nan, '34,801', nan, '5,511', '25,191', '450', '13,194', '5,971', '22,899', '13,692', '26,036', '23,110', '82,866', nan, '42,617', '13,118', '91,680', '17,501', '65,984', '1,775', '24,141', nan, '2,059', nan, '2,715', '86,986', '1,528', '18,222', '4,063', '4,501', nan, '174,071', '11,602', '6,984', nan, '1,458', nan, '236,048', '33,220', '1,091', '1,644', '6,396', '381', '5,380', nan, '15,706', '60,221', '3,002', '34,217', '2,790', nan, nan, '18,071', '16,871', '30,040', nan, nan, '412', '4,811', nan, nan, '3,057', '34,682', nan, '22,178', '6,157', '121,215', nan, nan, '10,571', '585', '858', '1,511', nan, '98,134', '10,044', '7,071', '40,398', nan, '17,347', nan, '25,808', nan, '23,347', nan, '2,017', '8,616', nan, '19,289', '100', nan, '6,932', '43,677', '37,857', nan, '59,056', '54,811', '11,649', '1,208', '8,125', '24,543', '731', '19,178', '8,657', '99,037', '117,497', nan, nan, nan, '613', '503', '2,779', '6,834', '1,444', nan, '8,899', '2,283', nan, '26,424', '2,007', nan, nan, '724', nan, '34,837', '527', '14,570', '6,089', '25,138', '53,686', '62,564', '10,522', nan, '31,480', '29,228', '3,396', '959', nan, '1,127', '4,483', '45,936', '1,525', '4,039', '5,055', '57,218', nan, '3,624', '39,337', '4,274', nan, '1,475', '9,122', '1,757', '21,493', '60,103', '69,774', nan, nan, '17,305', '16,178', nan, nan, nan, '5,878', nan, nan, nan, '3,157', '10,126', '13,280', '926', '121,163', nan, nan, nan, '20,625', '2,034', '269', '2,492', '781', '41,570', nan, '1,974', '9,956', '35,048', '3,652', nan, '7,878', nan, '87,060', '13,745', '15,737', nan, '1,018', nan, '3,502', nan, nan, '22,409', '30,264', '21,294', nan, '6,173', '2,237', '15,248', '20,088', '1,208', '13,943', '12,378', nan, nan, nan, nan, '3,620', nan, nan, '5,453', nan, '27,604', '12,303', nan, '10,302', '19,176', '476', '10,776', '10,704', nan, nan, nan, nan, '882', '2,597', '44,547', '424', '3,791', '13,946', '40,871', '8,584', '1,721', nan, nan, nan, nan, '8,484', nan, '3,441', nan, '1,864', '5,054', nan, '124', nan, nan, '3,389', '5,444', '652', '7,906', '23,310', '64', '4,174', '517', nan, '1,854', '30,015', '4,449', nan, '11,555', nan, '2,854', nan, nan, '2,232', '7,685', '2,444', '400', '4,062', nan, nan, nan, nan, nan, '75,018', '7,236', '5,870', nan, '104', '1,895', '1,220', nan, nan, '15,699', nan, '6,096', '1,375', '21,154', '3,527', '29,529', '359', '564', '2,115', '6,160', '5,528', nan, nan, '8,845', nan, nan, nan, nan, nan, nan, nan, '10,580', '6,860', '25,582', nan, '52,374', '23,470', '4,125', '85,057', nan, '5,660', nan, '3,039', '21,789', nan, '6,304', '59,236', nan, nan, '30,956', '2,104', '763', '8,434', '14,209', nan, nan, nan, '30,057', '5,886', '3,726', '13,132', '17,696', nan, nan, nan, '1,178', nan, '2,578', '13,048', '4,056', nan, nan, '37,992', '3,482', nan, '527', '32,709', nan, nan, nan, '5,561', '11,309', nan, '63,953', nan, '45,030', '1,065', '826', '30,826', nan, '10,345', '3,133', '6,856', '6,926', '45,333', '544', '14,524', '5,245', '28,350', '23,092', nan, '36,333', '1,822', nan, nan, nan, '21,392', nan, '29,972', '2,318', '2,357', '326', '113', '17,787', '2,775', '1,035', '87,224', '132', nan, '3,948', nan, nan, '1,041', '88,310', '1,285', nan, '28,773', nan, '13,496', nan, nan, nan, '8,669', '8,855', '51,200', nan, '5,229', '9,865', '256', '45,805', '83', '1,004', '7,906', '4,887', nan, nan, '2,432', '5,609', '2,650', '3,361', nan, nan, '89,029', '8,466', '5,762', '12,120', '7,642', '685', nan, nan, '1,564', '245', '156', nan, '496,687', nan, '43,468', '6,156', nan, '7,877', nan, nan, '1,944', '69,264', nan, '7,037', nan, nan, '2,827', '10,892', '1,063', '11,918', '13,264', '45,795', nan, '871', '38,653', nan, '317', '1,222', '13,210', '6,337', nan, '9,698', nan, nan, nan, '12,924', nan, nan, nan, '11,776', nan, '3,524', '34,905', '1,381', '3,152', '4,322', '8,282', nan, nan, '30,310', '2,842', '7,947', '39,991', '2,493', nan, nan, '1,430', nan, '53,536', nan, '14', '14', nan, '14', nan, '34,287', nan, '19,807', nan, '4,535', nan, '193', nan, '789', '41,052', nan, '1,324', '122', nan, '3,637', nan, nan, '12,185', nan, '10,863', '77,661', nan, '1,288', '32,792', nan, nan, nan, '2,476', '234', '11,829', nan, '49,773', nan, '1,454', nan, nan, '4,744', '661', nan, '2,068', '4,061', nan, '66,068', '18,998', nan, '3,239', nan, '3,290', nan, '76,489', '3,950', '60,638', '1,055', '58,407', '27,060', nan, '714', '2,146', '28,637', '93,757', '4,332', '6,197', '652', '2,875', nan, nan, '46,365', '25,425', nan, '2,379', '2,742', '14,182', nan, '1,595', '97', nan, '9,171', '7,624', '513', '15,839', nan, '12,966', nan, nan, '612', nan, nan, '1,511', '3,475', nan, '2,258', '9,814', '5,605', nan, nan, '214', '57,306', '915', '14', nan, '5,266', '1,583', '16,946', nan, '3,028', nan, nan, '1,861', nan, '10,561', nan, nan, nan, '280', nan, nan, nan, '6,218', '20,918', nan, '8,479', nan, '26,979', nan, '3,121', nan, '2,412', '2,026', '580', '5,341', nan, '32,688', '239', '3,100', '5,421', nan, '1,363', '28,794', '67', '1,184', nan, '17,466', '34,087', nan, '66,117', '27,655', nan, nan, nan, '871', '20,268', '7,252', nan, '94', '2,978', nan, nan, nan, nan, nan, '981', '17,447', '12,475', '2,884', '10,522', nan, '7,794', '20,949', '2,850', '2,859', nan, '6,060', '5,780', '2,094', '34,236', nan, nan, nan, '7,129', nan, '2,556', '314', '448', nan, '3,251', '1,495', '1,272', nan, '81', '9,183', nan, '22,534', nan, '1,804', '3,785', nan, nan, nan, '10,431', '37', '1,176', nan, nan, '1,179', '11', '1,822', nan, nan, nan, '39,932', nan, '867', nan, '16,169', nan, '255', '19,817', nan, '27,280', '854', '11,943', '12,829', '4,724', '10,342', '8,568', nan, '9,370', '35,490', nan, '4,281', nan, '16,968', nan, nan, nan, nan, nan, '4,432', nan, '730', nan, nan, nan, '70,482', '16,812', nan, '10,873', '97', '263', '3,005', '1,589', nan, nan, '5,652', nan, '10,780', '650', '9,111', nan, nan, '1,544', '709', '2,060', '2,652', nan, '1,742', '31,044', '1,850', nan, nan, '4,556', nan, '28,996', '20,893', '5,067', '61,530', '40,251', '2,978', '16,639', '4,652', nan, nan, '14,334', '42,000', nan, '1,096', nan, '56,172', nan, '4,376', '2,980', '1,363', nan, '3,349', '849', '64,127', nan, '10,653', '261', '991', nan, '1,213', nan, nan, '1,042', '4,889', nan, '6,767', nan, '727', '26,554', nan, '38,488', '13,286', nan, '27,381', '498', '24,523', '2,663', nan, nan, '14,686', nan, '2,164', '4,575', '1,849', '409', '60,668', '2,677', nan, '964', '23,645', nan, '430', '2,701', '7,479', '1,127', '6,209', nan, '1', nan, '5,732', '127,190', '1,043', '355', nan, '17,420', '3,211', nan, '239', '1,164', '2,970', '1,035', '646', '20,086', '8,524', '12,579', '5,774', nan, '644', nan, nan, '1,083', '8,357', '799', nan, nan, '295', nan, '10,923', '200', nan, nan, '3,004', '2,204', nan, '4,807', nan, nan, nan, nan, nan, '6,202', nan, '97', '4,686', nan, '1,230', nan, '76', '10,041', nan, '1,055', '2,024', nan, '3,279', nan, nan, '8,316', nan, nan, '33,306', nan, nan, '4,131', '18,428', '8,354', '16,137', '1,512', '2,112', '187,978', nan, '5,821', '3,662', '545', '57', '6,451', nan, nan, nan, '2,125', '1,029', '1,386', '3,705', '82', '593', '15,271', nan, '36', nan, nan, '2,081', nan, '9,379', nan, '667', nan, '11,191', '121,094', '16,795', '7,332', '379', nan, '1,425', '4,712', '903', '25,390', nan, '34', '22,741', nan, nan, nan, '370', nan, '5,377', nan, nan, '2,466', '2,191', '36', nan, '3,610', '450', '10,997', nan, '7,994', '58,595', '284', nan, '3,042', nan, '51', '16,116', '10,563', nan, nan, nan, nan, '5,778', '862', '12,109', '56,892', nan, '2,338', '4,399', '2,549', '660', '35,310', '5,757', nan, '1,630', nan, '472', '11,703', '1,522', '680', '13,538', nan, '27,012', '1,503', '34,532', '940', nan, nan, nan, '3,609', '3,193', '517', '2,758', nan, nan, '223', nan, '179', nan, '14,804', '2,539', '18,236', nan, '3,026', nan, nan, '14,770', nan, '378', '386', nan, '4,492', nan, nan, '7,922', nan, '2,258', nan, '2,597', '15,041', '3,915', '140', '2,014', '1,448', nan, nan, nan, nan, nan, '3,591', nan, nan, nan, '6,281', '535', '127', '4,292', '919', '5,114', '1,372', '8,808', nan, '15,003', '770', '32,888', '943', nan, '7,972', nan, nan, '730', '288', nan, nan, nan, nan, nan, '106', nan, '2,833', '787', nan, '888', nan, '19,643', nan, '8,195', nan, '7,934', nan, '6,359', nan, '6,423', nan, '3,985', '734', '45,835', '11,321', '24', '85', nan, '191', '2,379', '2,434', '1,810', nan, '736', nan, '828', nan, nan, nan, '4,065', '161', nan, '9,284', nan, '194', '13', '1,650', '2,746', '4,939', '16,568', '1,074', '1,418', '1,081', '1,910', '4,478', nan, '11,094', '667', '16,835', '609', nan, nan, '83,809', '151', nan, nan, '1,872', nan, '42,499', '4,853', nan, '3,818', nan, nan, '808', '2,434', '4,274', nan, '2,052', '1,158', '4,945', '146', '294', '6,277', nan, nan, '11,749', '194', '1,539', '757', '9,558', '207', '55,227', '310', '937', nan, nan, '1,882', nan, '12,488', '932', '75', '1,162', nan, '7,064', '8,955', '7,876', nan, '1,763', '3,829', '13,158', nan, nan, nan, '7,313', '1,883', '4,822', nan, nan, '3,791', nan, nan, nan, '214', '11,793', '3,835', '3,512', '3,437', nan, '356', nan, '7,414', '643', '7,557', nan, '512', '622', nan, '3,319', '2,455', nan, '56,396', '10,277', '4,893', nan, '7,230', nan, '14,031', nan, nan, nan, nan, '1,315', '15,703', nan, nan, '10,301', '29,838', '6,306', '492', nan, '1,550', '2,889', '3,308', nan, '151', nan, '229', '365', nan, '2,811', nan, '67,764', '9,005', '4,548', '157', '4,539', nan, '1,499', '4,833', '13,370', '4,970', nan, '69,407', nan, '2,944', '1,270', '406', '74', nan, '762', '4,594', nan, nan, nan, nan, nan, nan, nan, nan, nan, '6,637', nan, nan, '1,161', nan, '2,339', nan, '10,937', '11,141', '3,746', '671', '399', nan, '307', '155', '718', nan, nan, '43,785', nan, '6,535', '1,413', '7,026', '4,124', nan, nan, nan, nan, '8,784', '8,784', '433', nan, nan, '4,301', nan, '19,854', nan, '871', nan, '910', nan, nan, nan, '15,904', '168', '3,578', '26,960', '424', nan, '3,229', '11,127', '57,848', nan, nan, nan, '765', '24,423', '2,701', '2,947', nan, nan, '385', '1,106', '3,413', '286', '597', nan, nan, '8,452', nan, '11,426', nan, '335', '858', '4,643', nan, '9,910', '1,308', '546', nan, '366', '11,218', '1,827', nan, '521', '961', nan, nan, '448', '2,581', nan, '39', '8,739', nan, nan, '1,636', '10,436', '90', '3,032', '1,854', '1,274', nan, nan, '1,712', '722', '965', '25,852', '5,492', '6,055', nan, '229', '1,888', nan, '5,231', '4,017', '3,685', '947', '7,371', '12,297', nan, '186', '610', nan, '492', '529', '2,720', '646', nan, nan, nan, '20,571', nan, '2,337', '1,797', '143', '400', nan, '13,286', '296', '350', '2,327', '2,406', nan, '9,177', '274', nan, '597', nan, '60', nan, '1,410', '489', nan, '5,069', '10,597', '3,768', '716', '36,054', '5,793', nan, nan, nan, '2,403', nan, '234', '1,991', nan, nan, nan, '486', '14,115', '2,242', '2,558', '816', '10,464', '223', '36,993', nan, nan, nan, nan, nan, '252', nan, nan, '2,255', nan, '2,864', nan, '2,200', '310', '3,114', '15,923', '418', nan, '6,203', nan, nan, '1,516', '472', '1,366', '110', '776', nan, nan, nan, '34,937', '801', '2,089', nan, '5,124', nan, '13,848', '15,827', nan, '13,595', '5,910', nan, '7,035', '642', '797', nan, '2,222', '4,466', '9,002', nan, '41', '475', '3,452', nan, '2,483', nan, '3,245', '20,293', '654', nan, '690', '13,688', '259', '1,072', '674', '514', '586', '12,064', '1,591', nan, nan, nan, nan, '2,108', nan, nan, nan, nan, '4,924', nan, '1,032', '980', '997', '9,313', nan, nan, '16,792', nan, '1,776', '6,144', '2,461', '9,369', '1,495', nan, '482', '2,948', nan, '4,303', nan, nan, '5,765', '18,745', '65,189', '2,052', nan, nan, '4,833', '710', nan, '500', nan, '29', '2,646', '23,408', nan, '7,409', '2,189', '295', '7,582', '29,880', nan, '13,054', nan, '1,163', nan, '6,031', nan, '7,596', '3,515', '33,900', '742', nan, nan, '1,622', nan, nan, nan, nan, nan, '12,297', nan, '36', '473', '8,326', '436', '7,016', '23', nan, '7,181', '12,128', '8,405', '8,581', nan, '2,157', nan, '3,138', '188', '1,126', '455', '2,189', '728', '5,171', nan, nan, nan, nan, nan, nan, nan, '3,569', '62', '1,338', nan, '1,855', '11,373', '5,173', '3,719', '1,315', nan, '1,630', nan, '1,390', '4,642', '2,590', '2,653', nan, '1,151', '79', '647', '8,108', nan, nan, '132', '588', nan, nan, nan, '1,418', '492', '6,933', nan, nan, '24', '2,773', nan, '795', '858', '92', '40,087', '11,407', '949', nan, '16,081', '2,301', '629', '748', '111', nan, '3,004', '4', '865', '552', '2,232', nan, '2,626', nan, nan, '1,006', nan, '5,799', nan, nan, nan, '1,586', '366', '518', nan, '1,725', '13,856', nan, nan, nan, '9,152', '4,145', '2,731', nan, '1,013', nan, '588', '26,812', '1,984', '2,786', nan, '1,351', '4,631', '806', '3,401', '2,584', '2,541', '4,047', nan, '10,311', '285', '9,372', nan, '3,306', nan, '335', '940', '1,663', '4,569', nan, nan, nan, nan, '2,556', '1,684', '277', '3,294', '8,240', '839', '407', nan, nan, nan, '33', nan, '6,691', nan, '1,845', '1,554', nan, '19,260', '10,378', '2,196', '1,170', '21,779', nan, '774', '624', '768', '810', '1,263', '917', '3,195', '7,293', '458', '1,612', nan, '96', nan, '2,906', nan, '1,030', nan, '2,851', '937', '198', '1,844', '2,625', '2,166', nan, '444', '1,256', '7,032', nan, '10,487', '11,883', nan, '6,081', nan, nan, nan, '1,227', nan, '510', '33,876', nan, nan, nan, '1,998', '9,109', '297', nan, nan, '253', nan, nan, nan, '1,445', nan, nan, nan, '3,668', '6,546', nan, nan, '199', '2,385', '59', nan, '710', '218', '1,132', '744', nan, nan, '140', '274', '681', nan, nan, '544', '6,414', '178', '2,488', '219', nan, '546', nan, '7,410', nan, '2,168', '362', '294', '3,955', nan, '395', nan, '626', nan, '7,826', nan, nan, nan, '11,415', '1,826', '1,135', nan, nan, '5,653', nan, '178', nan, '95,845', '68', '284', '24,562', '18,369', nan, nan, '2,460', nan, '1,366', nan, '50', nan, nan, '13,062', '28', '390', nan, '431', '811', nan, nan, nan, nan, nan, '963', nan, nan, nan, nan, '296', '883', nan, '1,649', nan, '131', '1,523', '552', nan, '1,590', '1,819', '30', '78', '3,015', '418', '6,076', nan, '1,025', nan, '1,677', nan, '260', '1,427', '845', '101', nan, nan, nan, '864', '105', '8,508', nan, nan, nan, '1,547', '3,172', '7,360', '301', nan, '7,172', nan, '398', '18,696', '7,648', nan, nan, nan, '258', nan, nan, nan, nan, '502', '214', '74', '12,962', nan, '969', '1,160', nan, '1,242', '6,879', nan, nan, '1,286', '211', nan, '2,981', '2,669', '30,430', '190', '537', '2,101', '11', nan, nan, '7,983', '18,843', '1,024', '558', '37', nan, '20,880', nan, '724', nan, '12,117', '3,770', '7,574', '257', '205', '10,727', '15,528', '1,898', '17,988', '1,235', '22', '144', '888', '7,463', nan, '687', '81', nan, nan, '185', nan, '186', '7,536', '500', nan, '24,253', '9,164', nan, nan, nan, '566', '5,854', '203', '362', nan, nan, nan, nan, '87', nan, '2,575', '125', nan, nan, '5,695', nan, '958', nan, '21', '6,423', '688', nan, '3,963', nan, nan, '4,341', '31,143', nan, '1,054', nan, '314', '7,834', '4,156', '722', '407', '256', nan, '6,215', nan, nan, '185', '28', nan, nan, nan, '853', nan, nan, '29', nan, nan, '815', nan, nan, nan, '5,348', '498', '2,402', '481', nan, nan, '544', '42', nan, '6,498', '741', nan, nan, '665', '11,986', '6,205', nan, '24,824', '704', '440', '33,515', nan, '3,652', '8,609', '4,522', nan, nan, '192', '198', '13,029', nan, nan, nan, nan, nan, nan, '2,102', '1,408', nan, nan, '4,265', '106', nan, nan, '129', '343', nan, nan, '3,322', '2,551', '13,910', '16,691', '275', '163', '79', nan, '1,047', '1,756', '2,676', nan, nan, '1,381', nan, '5,992', '2,475', '188', nan, '79', '753', nan, '1,141', nan, nan, '33,478', '181', nan, '926', '96', nan, nan, nan, nan, '100', '128', nan, nan, nan, '49,996', '3,730', '126', '87', '7,196', '688', '10,229', '2,360', nan, nan, nan, nan, nan, '1,740', nan, nan, '534', nan, '14,353', nan, nan, '97', '1,362', nan, '148', '6,174', '1,153', '4,315', '7,643', '3,318', '5,326', '374', '900', '234', '4,885', nan, '355', '44,880', '211', '13,102', nan, '4,538', '1,433', '18,482', nan, '565', nan, '1,629', nan, '8,306', '777', '20,533', nan, '174', nan, '156', '104', nan, '4,647', '4,197', '20,308', '574', '2,779', '1,915', nan, '4,551', nan, nan, '1,470', '124', '63', '78', '334', '5,573', nan, '10,725', nan, nan, '1,245', '874', '523', nan, nan, '218', '153', nan, '362', '21,183', '636', nan, '3,705', '5,688', nan, nan, '1,305', nan, '334', '12,605', '701', nan, nan, '1,994', nan, '72', '5,835', '959', '2,276', nan, nan, nan, nan, nan, '294', nan, '3,905', '289', '1,091', '410', '1,755', '642', '546', nan, nan, '858', '1,491', '1,625', nan, '

In [152]:
totaldf.num_reviews.value_counts()

4         35
2         34
5         33
8         32
9         32
          ..
2,327      1
33,478     1
9,369      1
8,326      1
2,775      1
Name: num_reviews, Length: 2754, dtype: int64

In [153]:
totaldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14981 entries, 0 to 14980
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14981 non-null  object
 1   link           14981 non-null  object
 2   release_date   14939 non-null  object
 3   been_sale      14981 non-null  int64
 4   orig_price     14981 non-null  object
 5   num_reviews    5528 non-null   object
 6   review_rating  13908 non-null  object
 7   num_languages  6744 non-null   object
 8   tags           14980 non-null  object
 9   num_tags       14980 non-null  float64
 10  genres         14981 non-null  object
 11  num_genres     14981 non-null  float64
 12  publisher      14964 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.2+ MB

In [156]:
totaldf.shape

(14981, 13)

In [158]:
totaldf.tail()

,title,link,release_date,been_sale,orig_price,num_reviews,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
14976,Dinosaur Hunt - Dragon Hunter Expansion Pack,https://store.steampowered.com/app/408102/Dino...,"Dec 18, 2015",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14977,Dinosaur Hunt - Giant Spiders Hunter Expansion...,https://store.steampowered.com/app/431191/Dino...,"Mar 16, 2016",0,$0.99,NaN,Mixed,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14978,Dinosaur Hunt - Brontosaurus Expansion Pack,https://store.steampowered.com/app/434942/Dino...,"Mar 16, 2016",0,$0.99,NaN,Mixed,NaN,"['Adventure', 'Indie', 'Simulation', 'Action']",4.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14979,"Dinosaur Hunt - Vampires, Gargoyles, Mutants H...",https://store.steampowered.com/app/431190/Dino...,"Jan 22, 2016",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14980,Dinosaur Hunt - Stegosaurus Expansion Pack,https://store.steampowered.com/app/408100/Dino...,"Nov 13, 2015",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros

In [160]:
totaldf[totaldf.num_reviews == np.nan]

Empty DataFrame
Columns: [title, link, release_date, been_sale, orig_price, num_reviews, review_rating, num_languages, tags, num_tags, genres, num_genres, publisher]
Index: []

In [162]:
totaldf.iloc[14980].isna()

title            False
link             False
release_date     False
been_sale        False
orig_price       False
num_reviews       True
review_rating    False
num_languages     True
tags             False
num_tags         False
genres           False
num_genres       False
publisher        False
Name: 14980, dtype: bool

In [165]:
price1 = totaldf.iloc[0].orig_price

In [169]:
price1 = price1.replace('$','')

In [172]:
price1

'39.99'

In [173]:
def dollarstrip (string):
    string.replace('$','')

In [174]:
totaldf.orig_price.apply(dollarstrip)

0        None
1        None
2        None
3        None
4        None
         ...
14976    None
14977    None
14978    None
14979    None
14980    None
Name: orig_price, Length: 14981, dtype: object

In [182]:
totaldf['orig_price'] = totaldf['orig_price'].replace(['\$'],'')

In [176]:
totaldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14981 entries, 0 to 14980
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14981 non-null  object
 1   link           14981 non-null  object
 2   release_date   14939 non-null  object
 3   been_sale      14981 non-null  int64
 4   orig_price     14981 non-null  object
 5   num_reviews    5528 non-null   object
 6   review_rating  13908 non-null  object
 7   num_languages  6744 non-null   object
 8   tags           14980 non-null  object
 9   num_tags       14980 non-null  float64
 10  genres         14981 non-null  object
 11  num_genres     14981 non-null  float64
 12  publisher      14964 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.2+ MB

In [183]:
totaldf

,title,link,release_date,been_sale,orig_price,num_reviews,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,https://store.steampowered.com/app/1172620/Sea...,"Jun 3, 2020",1,$39.99,"111,078",Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios
1,It Takes Two,https://store.steampowered.com/app/1426210/It_...,"Mar 26, 2021",0,$39.99,"11,813",Overwhelmingly Positive,12,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts
2,Valheim,https://store.steampowered.com/app/892970/Valh...,"Feb 2, 2021",0,$19.99,"216,651",Overwhelmingly Positive,12,"['Open World Survival Craft', 'Online Co-Op', ...",20.0,"['Action', 'Adventure', 'Indie', 'RPG', 'Early...",6.0,Coffee Stain Publishing
3,Horizon Zero Dawnâ„¢ Complete Edition,https://store.steampowered.com/app/1151640/Hor...,"Aug 7, 2020",1,$49.99,"45,704",Mostly Positive,20,"['Adventure', 'Open World', 'Action', 'Female ...",20.0,"['Action', 'Adventure', 'RPG']",3.0,"PlayStation Mobile, Inc."
4,Phasmophobia,https://store.steampowered.com/app/739630/Phas...,"Sep 18, 2020",0,$13.99,"256,136",Overwhelmingly Positive,25,"['Horror', 'Online Co-Op', 'Multiplayer', 'Psy...",20.0,[],0.0,Kinetic Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14976,Dinosaur Hunt - Dragon Hunter Expansion Pack,https://store.steampowered.com/app/408102/Dino...,"Dec 18, 2015",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14977,Dinosaur Hunt - Giant Spiders Hunter Expansion...,https://store.steampowered.com/app/431191/Dino...,"Mar 16, 2016",0,$0.99,NaN,Mixed,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14978,Dinosaur Hunt - Brontosaurus Expansion Pack,https://store.steampowered.com/app/434942/Dino...,"Mar 16, 2016",0,$0.99,NaN,Mixed,NaN,"['Adventure', 'Indie', 'Simulation', 'Action']",4.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14979,"Dinosaur Hunt - Vampires, Gargoyles, Mutants H...",https://store.steampowered.com/app/431190/Dino...,"Jan 22, 2016",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14980,Dinosaur Hunt - Stegosaurus Expansion Pack,https://store.steampowered.com/app/408100/Dino...,"Nov 13, 2015",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros

In [187]:
totaldf.num_reviews.fillna(0,inplace=True)

In [188]:
totaldf.tail()

,title,link,release_date,been_sale,orig_price,num_reviews,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
14976,Dinosaur Hunt - Dragon Hunter Expansion Pack,https://store.steampowered.com/app/408102/Dino...,"Dec 18, 2015",0,$0.99,0,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14977,Dinosaur Hunt - Giant Spiders Hunter Expansion...,https://store.steampowered.com/app/431191/Dino...,"Mar 16, 2016",0,$0.99,0,Mixed,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14978,Dinosaur Hunt - Brontosaurus Expansion Pack,https://store.steampowered.com/app/434942/Dino...,"Mar 16, 2016",0,$0.99,0,Mixed,NaN,"['Adventure', 'Indie', 'Simulation', 'Action']",4.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14979,"Dinosaur Hunt - Vampires, Gargoyles, Mutants H...",https://store.steampowered.com/app/431190/Dino...,"Jan 22, 2016",0,$0.99,0,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14980,Dinosaur Hunt - Stegosaurus Expansion Pack,https://store.steampowered.com/app/408100/Dino...,"Nov 13, 2015",0,$0.99,0,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros

In [190]:
totaldf.num_reviews = totaldf.num_reviews.replace(',','')

In [193]:
totaldf.num_reviews.replace(',','')

0        111,078
1         11,813
2        216,651
3         45,704
4        256,136
          ...
14976          0
14977          0
14978          0
14979          0
14980          0
Name: num_reviews, Length: 14981, dtype: object

In [194]:
totaldf.num_reveiws.apply(replace(',',''))

AttributeError: 'DataFrame' object has no attribute 'num_reveiws'

In [198]:
totaldf.publisher.value_counts().head(10)

Ubisoft - San Francisco       337
Paradox Interactive           284
CAPCOM Co., Ltd.              253
BANDAI NAMCO Entertainment    242
SEGA                          201
Electronic Arts               194
Ubisoft                       172
KOEI TECMO GAMES CO., LTD.    158
THQ Nordic                    147
NIS America, Inc.             146
Name: publisher, dtype: int64

In [282]:
reviewsdf = totaldf[totaldf.num_reviews != 0]

In [283]:
reviewsdf.drop(columns=['link'], inplace=True)

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [284]:
reviewsdf.head(2)

,title,release_date,been_sale,orig_price,num_reviews,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,"Jun 3, 2020",1,$39.99,"111,078",Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios
1,It Takes Two,"Mar 26, 2021",0,$39.99,"11,813",Overwhelmingly Positive,12,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts

In [213]:
cols = list(reviewsdf.columns)

In [215]:
cols.insert(1,(cols.pop(cols.index('num_reviews'))))

In [216]:
reviewsdf = reviewsdf[cols]

In [218]:
reviewsdf.head(1)

,title,num_reviews,release_date,been_sale,orig_price,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,"111,078","Jun 3, 2020",1,$39.99,Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios

In [219]:
reviewsdf.num_reviews = reviewsdf.num_reviews.str.replace(',','')

In [220]:
reviewsdf.head()

,title,num_reviews,release_date,been_sale,orig_price,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,111078,"Jun 3, 2020",1,$39.99,Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios
1,It Takes Two,11813,"Mar 26, 2021",0,$39.99,Overwhelmingly Positive,12,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts
2,Valheim,216651,"Feb 2, 2021",0,$19.99,Overwhelmingly Positive,12,"['Open World Survival Craft', 'Online Co-Op', ...",20.0,"['Action', 'Adventure', 'Indie', 'RPG', 'Early...",6.0,Coffee Stain Publishing
3,Horizon Zero Dawnâ„¢ Complete Edition,45704,"Aug 7, 2020",1,$49.99,Mostly Positive,20,"['Adventure', 'Open World', 'Action', 'Female ...",20.0,"['Action', 'Adventure', 'RPG']",3.0,"PlayStation Mobile, Inc."
4,Phasmophobia,256136,"Sep 18, 2020",0,$13.99,Overwhelmingly Positive,25,"['Horror', 'Online Co-Op', 'Multiplayer', 'Psy...",20.0,[],0.0,Kinetic Games

In [222]:
reviewsdf.num_reviews = reviewsdf.num_reviews.astype(int)

In [223]:
reviewsdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5528 entries, 0 to 14968
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          5528 non-null   object
 1   num_reviews    5528 non-null   int64
 2   release_date   5526 non-null   object
 3   been_sale      5528 non-null   int64
 4   orig_price     5528 non-null   object
 5   review_rating  5528 non-null   object
 6   num_languages  2102 non-null   object
 7   tags           5528 non-null   object
 8   num_tags       5528 non-null   float64
 9   genres         5528 non-null   object
 10  num_genres     5528 non-null   float64
 11  publisher      5523 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 561.4+ KB

In [224]:
reviewsdf.orig_price = reviewsdf.orig_price.str.replace('$','').astype(float)

In [225]:
reviewsdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5528 entries, 0 to 14968
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          5528 non-null   object
 1   num_reviews    5528 non-null   int64
 2   release_date   5526 non-null   object
 3   been_sale      5528 non-null   int64
 4   orig_price     5528 non-null   float64
 5   review_rating  5528 non-null   object
 6   num_languages  2102 non-null   object
 7   tags           5528 non-null   object
 8   num_tags       5528 non-null   float64
 9   genres         5528 non-null   object
 10  num_genres     5528 non-null   float64
 11  publisher      5523 non-null   object
dtypes: float64(3), int64(2), object(7)
memory usage: 561.4+ KB

In [226]:
reviewsdf.release_date = pd.to_datetime(reviewsdf.release_date)

In [227]:
reviewsdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5528 entries, 0 to 14968
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          5528 non-null   object
 1   num_reviews    5528 non-null   int64
 2   release_date   5526 non-null   datetime64[ns]
 3   been_sale      5528 non-null   int64
 4   orig_price     5528 non-null   float64
 5   review_rating  5528 non-null   object
 6   num_languages  2102 non-null   object
 7   tags           5528 non-null   object
 8   num_tags       5528 non-null   float64
 9   genres         5528 non-null   object
 10  num_genres     5528 non-null   float64
 11  publisher      5523 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 561.4+ KB

In [229]:
reviewsdf.num_languages.isna()

0        False
1        False
2        False
3        False
4        False
         ...
14959     True
14960     True
14963     True
14966     True
14968     True
Name: num_languages, Length: 5528, dtype: bool

# prelimdf
creating a preliminary df of just numerical values for initial modeling

In [235]:
prelimdf = reviewsdf[['title','num_reviews',
                      'release_date', 'been_sale',
                      'orig_price', 'num_tags',
                      'num_genres']]

In [236]:
prelimdf

,title,num_reviews,release_date,been_sale,orig_price,num_tags,num_genres
0,Sea of Thieves,111078,2020-06-03,1,39.99,20.0,2.0
1,It Takes Two,11813,2021-03-26,0,39.99,20.0,3.0
2,Valheim,216651,2021-02-02,0,19.99,20.0,6.0
3,Horizon Zero Dawnâ„¢ Complete Edition,45704,2020-08-07,1,49.99,20.0,3.0
4,Phasmophobia,256136,2020-09-18,0,13.99,20.0,0.0
...,...,...,...,...,...,...,...
14959,WTF,155,2019-08-11,1,4.99,5.0,2.0
14960,Devolver Bootleg,960,2019-06-09,0,4.99,16.0,5.0
14963,Dragon Hunt,56,2018-04-26,0,0.99,3.0,3.0
14966,ButcherBoy,65,2018-07-11,0,0.99,2.0,2.0
14968,My Golf,47,2018-04-27,0,0.99,3.0,3.0

In [239]:
prelimdf.to_csv(r'/Users/michaelharnett/desktop/metis\prelimdf.csv')

# prlimdf2
setting a second preliminary dataframe, attempting to map rank to value.
also want to include dummy variables.

In [242]:
reviewsdf.shape

(5528, 12)

In [243]:
reviewsdf.head(1)

,title,num_reviews,release_date,been_sale,orig_price,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,111078,2020-06-03,1,39.99,Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios

In [244]:
reviewsdf.review_rating.value_counts()

Very Positive              2634
Mostly Positive             891
Mixed                       711
Overwhelmingly Positive     447
Positive                    414
Mostly Negative              62
4 user reviews               47
2 user reviews               47
6 user reviews               45
1 user reviews               40
5 user reviews               40
3 user reviews               39
8 user reviews               33
7 user reviews               33
9 user reviews               27
No user reviews               9
Negative                      6
Very Negative                 2
Overwhelmingly Negative       1
Name: review_rating, dtype: int64

## converting rating
The ratings provided from the wepage were all strings, creating a dictionary for the values
and mapping it to reviewsdf to make it a numerical column

In [246]:
rating_dict = {
    'Overwhelmingly Positive':9,
    'Very Positive': 8,
    'Mostly Positive': 7,
    'Positive': 6,
    'Mixed': 5,
    'Mostly Negative': 3,
    'Very Negative': 2,
    'Overwhelming Negative': 1,
    '4 user reviews': 0,
    '2 user reviews': 0,
    '6 user reviews': 0,
    '1 user reviews': 0,
    '5 user reviews': 0,
    '3 user reviews': 0,
    '8 user reviews': 0,
    '7 user reviews': 0,
    '9 user reviews': 0,
    'No user reviews': 0,
}

In [262]:
reviewsdf.review_rating = reviewsdf.review_rating.map(rating_dict)

In [263]:
reviewsdf.review_rating.value_counts() # success.

Series([], Name: review_rating, dtype: int64)


/## now attempting at dummyt variables. starting with publisher, as there are less to deal with.

In [253]:
reviewsdf.num_languages.isna().value_counts # just curious how many nulls in languages.

True     3426
False    2102
Name: num_languages, dtype: int64

In [254]:
reviewsdf.head(1)

,title,num_reviews,release_date,been_sale,orig_price,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,111078,2020-06-03,1,39.99,8.0,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios

In [261]:
reviewsdf.publisher.value_counts().head(10)

SEGA                          90
Ubisoft                       77
Electronic Arts               74
Square Enix                   64
THQ Nordic                    53
Devolver Digital              45
BANDAI NAMCO Entertainment    45
Disney                        42
Nightdive Studios             39
Paradox Interactive           38
Name: publisher, dtype: int64

In [264]:
# got the idea to make a list, check .isin/in so before typing all of this manually, going to move on to 
# a better method


# def big_publisher(string):        
#     if string == 'SEGA':
#         return 'SEGA'
#     elif string == 'Ubisoft':
#         return 'Ubisoft'
#     elif string == 'Electronic Arts':
#         return 'Electronic Arts'
#     elif string =='Sqare Enix':
#         return 'Square Enix'
#     elif string == 'THQ Nordic':
#         return 'THQ Nordic'
#     elif string

SyntaxError: EOL while scanning string literal (<ipython-input-264-68a0dc5887b1>, line 1)

In [271]:
toppublist = list(reviewsdf.publisher.value_counts().head(10).keys())

In [273]:
toppublist

['SEGA',
 'Ubisoft',
 'Electronic Arts',
 'Square Enix',
 'THQ Nordic',
 'Devolver Digital',
 'BANDAI NAMCO Entertainment',
 'Disney',
 'Nightdive Studios',
 'Paradox Interactive']

In [276]:
def big_publisher(string):
    if string in (toppublist):
        return string
    else:
        return 'other'

In [277]:
reviewsdf['top_publishers'] = reviewsdf.publisher.apply(big_publisher) # this worked, but for some reaon review
                                                                        # rating broke?

In [279]:
reviewsdf.head(10)

,title,num_reviews,release_date,been_sale,orig_price,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher,top_publishers
0,Sea of Thieves,111078,2020-06-03,1,39.99,NaN,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios,other
1,It Takes Two,11813,2021-03-26,0,39.99,NaN,12,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts,Electronic Arts
2,Valheim,216651,2021-02-02,0,19.99,NaN,12,"['Open World Survival Craft', 'Online Co-Op', ...",20.0,"['Action', 'Adventure', 'Indie', 'RPG', 'Early...",6.0,Coffee Stain Publishing,other
3,Horizon Zero Dawnâ„¢ Complete Edition,45704,2020-08-07,1,49.99,NaN,20,"['Adventure', 'Open World', 'Action', 'Female ...",20.0,"['Action', 'Adventure', 'RPG']",3.0,"PlayStation Mobile, Inc.",other
4,Phasmophobia,256136,2020-09-18,0,13.99,NaN,25,"['Horror', 'Online Co-Op', 'Multiplayer', 'Psy...",20.0,[],0.0,Kinetic Games,other
5,Forza Horizon 4,23944,2021-03-09,1,59.99,NaN,16,"['Racing', 'Open World', 'Driving', 'Multiplay...",20.0,['Racing'],1.0,Xbox Game Studios,other
6,Rust,598684,2018-02-08,0,39.99,NaN,25,"['Survival', 'Crafting', 'Multiplayer', 'Open ...",20.0,"['Action', 'Adventure', 'Indie', 'Massively Mu...",5.0,Facepunch Studios,other
7,Baldur's Gate 3,38064,2020-10-06,0,59.99,NaN,7,"['Early Access', 'RPG', 'Dungeons & Dragons', ...",20.0,"['Adventure', 'RPG', 'Strategy', 'Early Access...",5.0,Larian Studios,other
8,Fable Anniversary,8397,2014-09-12,1,34.99,NaN,10,"['RPG', 'Fantasy', 'Open World', 'Classic', 'A...",20.0,['RPG'],1.0,Xbox Game Studios,other
9,Age of Empires II: Definitive Edition,73464,2019-11-14,1,19.99,NaN,14,"['Strategy', 'RTS', 'City Builder', 'Multiplay...",20.0,"['Strategy', 'Forgotten Empires', 'Tantalus Me...",4.0,Xbox Game Studios,other

In [281]:
reviewsdf.review_rating.value_counts() # what

Series([], Name: review_rating, dtype: int64)

# resetting reviews df
i removed and cleaned some keys on my keyboard and must have done something because
all of a suddne my reviews_rating column mapped fine, then went to nans. resetting reviews df and saving it as csv to prevent this problem from reappearing.

includeds rating and its numerical value, as well as publisher and just top 10 publishers vs. other.
this is for all games that had a total listed for number of reviews. good starting place for all modeling.

In [285]:
reviewsdf = totaldf[totaldf.num_reviews != 0]
reviewsdf.drop(columns=['link'], inplace=True)

/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [287]:
reviewsdf.head(1)

,title,release_date,been_sale,orig_price,num_reviews,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,"Jun 3, 2020",1,$39.99,"111,078",Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios

In [291]:
cols = list(reviewsdf.columns)
cols.insert(1,(cols.pop(cols.index('num_reviews'))))
reviewsdf = reviewsdf[cols]

In [292]:
reviewsdf.head(1)

,title,num_reviews,release_date,been_sale,orig_price,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,"111,078","Jun 3, 2020",1,$39.99,Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios

In [293]:
reviewsdf.release_date = pd.to_datetime(reviewsdf.release_date)

In [300]:
reviewsdf.num_reviews = reviewsdf.num_reviews.str.replace(',','').astype(int)

In [302]:
reviewsdf.orig_price = reviewsdf.orig_price.str.replace('$','').astype(float)

In [303]:
reviewsdf.head(1)

,title,num_reviews,release_date,been_sale,orig_price,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,111078,2020-06-03,1,39.99,Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios

In [304]:
reviewsdf['rating_val'] = reviewsdf.review_rating.map(rating_dict)

In [306]:
reviewsdf['top_pubs'] = reviewsdf.publisher.apply(big_publisher)

In [307]:
reviewsdf.head(1)

,title,num_reviews,release_date,been_sale,orig_price,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher,rating_val,top_pubs
0,Sea of Thieves,111078,2020-06-03,1,39.99,Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios,8.0,other

In [309]:
reviewsdf = reviewsdf[['title','num_reviews', 'release_date', 'orig_price',
                      'been_sale', 'review_rating', 'rating_val', 'num_languages',
                      'tags', 'num_tags', 'genres', 'num_genres',
                      'publisher', 'top_pubs']]

In [310]:
reviewsdf.head(1)

,title,num_reviews,release_date,orig_price,been_sale,review_rating,rating_val,num_languages,tags,num_tags,genres,num_genres,publisher,top_pubs
0,Sea of Thieves,111078,2020-06-03,39.99,1,Very Positive,8.0,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios,other

In [311]:
reviewsdf.to_csv(r'/Users/michaelharnett/Desktop/METIS\reviewsdf.csv') #saved

# year column

In [347]:
val = reviewsdf.iloc[0].release_date
val

Timestamp('2020-06-03 00:00:00')

In [359]:
vals = reviewsdf.iloc[:3].release_date
vals

0   2020-06-03
1   2021-03-26
2   2021-02-02
Name: release_date, dtype: datetime64[ns]

In [362]:
str(vals).split('-')

['0   2020',
 '06',
 '03\n1   2021',
 '03',
 '26\n2   2021',
 '02',
 '02\nName: release_date, dtype: datetime64[ns]']

In [372]:
reviewsdf['year_released'] = str(reviewsdf.release_date).split('-')[0]

In [379]:
reviewsdf.head(2)

,title,num_reviews,release_date,orig_price,been_sale,review_rating,rating_val,num_languages,tags,num_tags,genres,num_genres,publisher,top_pubs
0,Sea of Thieves,111078,2020-06-03,39.99,1,Very Positive,8.0,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios,other
1,It Takes Two,11813,2021-03-26,39.99,0,Overwhelmingly Positive,9.0,12,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts,Electronic Arts

In [389]:
reviewsdf.drop(columns=['year_released'], inplace=True)

KeyError: "['year_released'] not found in axis"

In [377]:
reviewsdf.iloc[0].release_date.year

2020

In [380]:
# since is already a datetime, I can just use call.year

In [388]:
reviewsdf['year_relesed'] = reviewsdf.release_date.year

AttributeError: 'Series' object has no attribute 'year'

In [382]:
#cannot use it on a series, only indvidually, maybe if I apply it instead

In [383]:
def to_year(date):
    date.year

In [384]:
reviewsdf['year_released'] = reviewsdf.release_date.apply(to_year)

In [397]:
reviewsdf.head(5)

,title,num_reviews,release_date,orig_price,been_sale,review_rating,rating_val,num_languages,tags,num_tags,genres,num_genres,publisher,top_pubs,year_released
0,Sea of Thieves,111078,2020-06-03,39.99,1,Very Positive,8.0,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios,other,2020.0
1,It Takes Two,11813,2021-03-26,39.99,0,Overwhelmingly Positive,9.0,12,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts,Electronic Arts,2021.0
2,Valheim,216651,2021-02-02,19.99,0,Overwhelmingly Positive,9.0,12,"['Open World Survival Craft', 'Online Co-Op', ...",20.0,"['Action', 'Adventure', 'Indie', 'RPG', 'Early...",6.0,Coffee Stain Publishing,other,2021.0
3,Horizon Zero Dawnâ„¢ Complete Edition,45704,2020-08-07,49.99,1,Mostly Positive,7.0,20,"['Adventure', 'Open World', 'Action', 'Female ...",20.0,"['Action', 'Adventure', 'RPG']",3.0,"PlayStation Mobile, Inc.",other,2020.0
4,Phasmophobia,256136,2020-09-18,13.99,0,Overwhelmingly Positive,9.0,25,"['Horror', 'Online Co-Op', 'Multiplayer', 'Psy...",20.0,[],0.0,Kinetic Games,other,2020.0

In [405]:
# ok maybe its because i used dot notation/
reviewsdf['year_released'] = reviewsdf['release_date'].dt.year

In [398]:
reviewsdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5528 entries, 0 to 14968
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          5528 non-null   object
 1   num_reviews    5528 non-null   int64
 2   release_date   5526 non-null   datetime64[ns]
 3   orig_price     5528 non-null   float64
 4   been_sale      5528 non-null   int64
 5   review_rating  5528 non-null   object
 6   rating_val     5521 non-null   float64
 7   num_languages  2102 non-null   object
 8   tags           5528 non-null   object
 9   num_tags       5528 non-null   float64
 10  genres         5528 non-null   object
 11  num_genres     5528 non-null   float64
 12  publisher      5523 non-null   object
 13  top_pubs       5528 non-null   object
 14  year_released  5526 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(7)
memory usage: 691.0+ KB

# prelimdf2
including numeric values

In [400]:
reviewsdf.head(1)

,title,num_reviews,release_date,orig_price,been_sale,review_rating,rating_val,num_languages,tags,num_tags,genres,num_genres,publisher,top_pubs,year_released
0,Sea of Thieves,111078,2020-06-03,39.99,1,Very Positive,8.0,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios,other,2020.0

In [401]:
prelimdf2 = reviewsdf[['num_reviews', 'orig_price', 'been_sale', 'rating_val',
                      'num_tags', 'num_genres', 'year_released']]

In [406]:
prelimdf2.head(1)

,num_reviews,orig_price,been_sale,rating_val,num_tags,num_genres,year_released
0,111078,39.99,1,8.0,20.0,2.0,2020.0

In [414]:
prelimdf2.to_csv(r'Users/michaelharnett/desktop/')

FileNotFoundError: [Errno 2] No such file or directory: 'Users/michaelharnett/desktop/'

In [415]:
prelimdf2.to_csv(r'/Users/michaelharnett/Desktop/METIS\prelim2df.csv')

NameError: name 'prelimdf2' is not defined

In [50]:
reviewsdf = pd.read_csv('Data/reviewsdf.csv')

In [5]:
reviewsdf.head()

,Unnamed: 0,title,num_reviews,release_date,orig_price,been_sale,review_rating,rating_val,num_languages,tags,num_tags,genres,num_genres,publisher,top_pubs
0,0,Sea of Thieves,111078,2020-06-03,39.99,1,Very Positive,8.0,13.0,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios,other
1,1,It Takes Two,11813,2021-03-26,39.99,0,Overwhelmingly Positive,9.0,12.0,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts,Electronic Arts
2,2,Valheim,216651,2021-02-02,19.99,0,Overwhelmingly Positive,9.0,12.0,"['Open World Survival Craft', 'Online Co-Op', ...",20.0,"['Action', 'Adventure', 'Indie', 'RPG', 'Early...",6.0,Coffee Stain Publishing,other
3,3,Horizon Zero Dawnâ„¢ Complete Edition,45704,2020-08-07,49.99,1,Mostly Positive,7.0,20.0,"['Adventure', 'Open World', 'Action', 'Female ...",20.0,"['Action', 'Adventure', 'RPG']",3.0,"PlayStation Mobile, Inc.",other
4,4,Phasmophobia,256136,2020-09-18,13.99,0,Overwhelmingly Positive,9.0,25.0,"['Horror', 'Online Co-Op', 'Multiplayer', 'Psy...",20.0,[],0.0,Kinetic Games,other

In [51]:
reviewsdf.drop(columns = ['Unnamed: 0'], inplace=True)

In [52]:
reviewsdf['year_released'] = pd.to_datetime(reviewsdf['release_date']).dt.year

In [10]:
reviewsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5528 entries, 0 to 5527
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5528 non-null   int64
 1   title          5528 non-null   object
 2   num_reviews    5528 non-null   int64
 3   release_date   5526 non-null   object
 4   orig_price     5528 non-null   float64
 5   been_sale      5528 non-null   int64
 6   review_rating  5528 non-null   object
 7   rating_val     5521 non-null   float64
 8   num_languages  2102 non-null   float64
 9   tags           5528 non-null   object
 10  num_tags       5528 non-null   float64
 11  genres         5528 non-null   object
 12  num_genres     5528 non-null   float64
 13  publisher      5523 non-null   object
 14  top_pubs       5528 non-null   object
 15  year_released  5526 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 691.1+ KB

In [53]:
reviewsdf = reviewsdf[reviewsdf.rating_val.isna()==False]

In [17]:
reviewsdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5521 entries, 0 to 5527
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          5521 non-null   object
 1   num_reviews    5521 non-null   int64
 2   release_date   5519 non-null   object
 3   orig_price     5521 non-null   float64
 4   been_sale      5521 non-null   int64
 5   review_rating  5521 non-null   object
 6   rating_val     5521 non-null   float64
 7   num_languages  2101 non-null   float64
 8   tags           5521 non-null   object
 9   num_tags       5521 non-null   float64
 10  genres         5521 non-null   object
 11  num_genres     5521 non-null   float64
 12  publisher      5516 non-null   object
 13  top_pubs       5521 non-null   object
 14  year_released  5519 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 690.1+ KB

In [69]:
reviewsdf['languages_filled'] = reviewsdf.num_languages.fillna(reviewsdf.num_languages.median())

In [55]:
reviewsdf[reviewsdf.languages_filled.isna()]

Empty DataFrame
Columns: [title, num_reviews, release_date, orig_price, been_sale, review_rating, rating_val, num_languages, tags, num_tags, genres, num_genres, publisher, top_pubs, year_released, languages_filled]
Index: []

In [61]:
reviewsdf[reviewsdf.year_released.isna()]

Empty DataFrame
Columns: [title, num_reviews, release_date, orig_price, been_sale, review_rating, rating_val, num_languages, tags, num_tags, genres, num_genres, publisher, top_pubs, year_released, languages_filled]
Index: []

In [57]:
reviewsdf.year_released.value_counts()

2020.0    1105
2019.0     713
2018.0     664
2017.0     642
2016.0     522
2021.0     476
2015.0     364
2014.0     316
2013.0     147
2009.0     128
2012.0     121
2010.0     101
2011.0      85
2008.0      66
2007.0      41
2006.0      17
2004.0       3
2001.0       2
1999.0       2
2000.0       1
2003.0       1
2002.0       1
2005.0       1
Name: year_released, dtype: int64

In [43]:
reviewsdf.year_released.median()

2018.0

In [58]:
reviewsdf.year_released = reviewsdf.year_released.fillna(reviewsdf.year_released.median())

In [70]:
reviewsdf[['languages_filled']]

      languages_filled
0                 13.0
1                 12.0
2                 12.0
3                 20.0
4                 25.0
...                ...
5523              10.0
5524              10.0
5525              10.0
5526              10.0
5527              10.0

[5521 rows x 1 columns]

In [71]:
reviewsdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5521 entries, 0 to 5527
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             5521 non-null   object
 1   num_reviews       5521 non-null   int64
 2   release_date      5519 non-null   object
 3   orig_price        5521 non-null   float64
 4   been_sale         5521 non-null   int64
 5   review_rating     5521 non-null   object
 6   rating_val        5521 non-null   float64
 7   num_languages     2101 non-null   float64
 8   tags              5521 non-null   object
 9   num_tags          5521 non-null   float64
 10  genres            5521 non-null   object
 11  num_genres        5521 non-null   float64
 12  publisher         5516 non-null   object
 13  top_pubs          5521 non-null   object
 14  year_released     5521 non-null   float64
 15  languages_filled  5521 non-null   float64
dtypes: float64(7), int64(2), object(7)
memory usage: 733.3+ KB

# prelim 3
setting up a third prelmm df with all numeric columns, fixed num languages to fill na with median so it can also be included, and with top_pub column to begin using dummy variables.

In [72]:
prelimdf3 = reviewsdf[['num_reviews', 'year_released', 'orig_price',
                      'been_sale', 'rating_val', 'num_tags',
                      'num_genres', 'languages_filled', 'top_pubs']]

In [73]:
prelimdf3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5521 entries, 0 to 5527
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   num_reviews       5521 non-null   int64
 1   year_released     5521 non-null   float64
 2   orig_price        5521 non-null   float64
 3   been_sale         5521 non-null   int64
 4   rating_val        5521 non-null   float64
 5   num_tags          5521 non-null   float64
 6   num_genres        5521 non-null   float64
 7   languages_filled  5521 non-null   float64
 8   top_pubs          5521 non-null   object
dtypes: float64(6), int64(2), object(1)
memory usage: 431.3+ KB

In [75]:
prelimdf3.head()

,num_reviews,year_released,orig_price,been_sale,rating_val,num_tags,num_genres,languages_filled,top_pubs
0,111078,2020.0,39.99,1,8.0,20.0,2.0,13.0,other
1,11813,2021.0,39.99,0,9.0,20.0,3.0,12.0,Electronic Arts
2,216651,2021.0,19.99,0,9.0,20.0,6.0,12.0,other
3,45704,2020.0,49.99,1,7.0,20.0,3.0,20.0,other
4,256136,2020.0,13.99,0,9.0,20.0,0.0,25.0,other

In [77]:
pub_dummies = pd.get_dummies(prelimdf3.top_pubs, drop_first=True)

In [83]:
pubs = list(pub_dummies.columns)
pubs

['Devolver Digital',
 'Disney',
 'Electronic Arts',
 'Nightdive Studios',
 'Paradox Interactive',
 'SEGA',
 'Square Enix',
 'THQ Nordic',
 'Ubisoft',
 'other']

In [85]:
fundict={}
for pub in pubs:
    fundict[pub] = pub_dummies[pub].sum()

In [86]:
fundict

{'Devolver Digital': 45,
 'Disney': 42,
 'Electronic Arts': 74,
 'Nightdive Studios': 39,
 'Paradox Interactive': 38,
 'SEGA': 90,
 'Square Enix': 64,
 'THQ Nordic': 53,
 'Ubisoft': 77,
 'other': 4954}

In [87]:
prelimdf3

,num_reviews,year_released,orig_price,been_sale,rating_val,num_tags,num_genres,languages_filled,top_pubs
0,111078,2020.0,39.99,1,8.0,20.0,2.0,13.0,other
1,11813,2021.0,39.99,0,9.0,20.0,3.0,12.0,Electronic Arts
2,216651,2021.0,19.99,0,9.0,20.0,6.0,12.0,other
3,45704,2020.0,49.99,1,7.0,20.0,3.0,20.0,other
4,256136,2020.0,13.99,0,9.0,20.0,0.0,25.0,other
...,...,...,...,...,...,...,...,...,...
5523,155,2019.0,4.99,1,5.0,5.0,2.0,10.0,other
5524,960,2019.0,4.99,0,8.0,16.0,5.0,10.0,Devolver Digital
5525,56,2018.0,0.99,0,5.0,3.0,3.0,10.0,other
5526,65,2018.0,0.99,0,5.0,2.0,2.0,10.0,other
5527,47,2018.0,0.99,0,5.0,3.0,3.0,10.0,other

In [91]:
prelimdf3 = pd.merge(prelimdf3, pub_dummies, left_index=True, right_index=True)

In [93]:
prelimdf3.drop(columns=['top_pubs'],inplace=True)

In [96]:
prelimdf3.head(2)

,num_reviews,year_released,orig_price,been_sale,rating_val,num_tags,num_genres,languages_filled,Devolver Digital,Disney,Electronic Arts,Nightdive Studios,Paradox Interactive,SEGA,Square Enix,THQ Nordic,Ubisoft,other
0,111078,2020.0,39.99,1,8.0,20.0,2.0,13.0,0,0,0,0,0,0,0,0,0,1
1,11813,2021.0,39.99,0,9.0,20.0,3.0,12.0,0,0,1,0,0,0,0,0,0,0

In [95]:
prelimdf3.to_csv(r'/Users/michaelharnett/Desktop/METIS\prelimdf3.csv')

# checking values

In [98]:
reviewsdf.head(2)

,title,num_reviews,release_date,orig_price,been_sale,review_rating,rating_val,num_languages,tags,num_tags,genres,num_genres,publisher,top_pubs,year_released,languages_filled
0,Sea of Thieves,111078,2020-06-03,39.99,1,Very Positive,8.0,13.0,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios,other,2020.0,13.0
1,It Takes Two,11813,2021-03-26,39.99,0,Overwhelmingly Positive,9.0,12.0,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts,Electronic Arts,2021.0,12.0

In [101]:
reviewsdf.num_reviews.sort_values().head()

5421    1
4349    1
4830    1
2943    1
3952    1
Name: num_reviews, dtype: int64

In [105]:
reviewsdf.sort_values(by='num_reviews', ascending=False).head(15)

,title,num_reviews,release_date,orig_price,been_sale,review_rating,rating_val,num_languages,tags,num_tags,genres,num_genres,publisher,top_pubs,year_released,languages_filled
68,PLAYERUNKNOWN'S BATTLEGROUNDS,1697393,2017-12-21,29.99,0,Mixed,5.0,17.0,"['Survival', 'Shooter', 'Multiplayer', 'Battle...",20.0,"['Action', 'Adventure', 'Massively Multiplayer']",3.0,"KRAFTON, Inc.",other,2017.0,17.0
45,Tom Clancy's Rainbow SixÂ® Siege,897872,2015-12-01,19.99,0,Very Positive,8.0,16.0,"['FPS', 'Hero Shooter', 'Multiplayer', 'Tactic...",20.0,['Action'],1.0,Ubisoft,Ubisoft,2015.0,16.0
31,Terraria,721278,2011-05-16,9.99,0,Overwhelmingly Positive,9.0,9.0,"['Open World Survival Craft', 'Sandbox', 'Surv...",20.0,"['Action', 'Adventure', 'Indie', 'RPG']",4.0,Re-Logic,other,2011.0,9.0
52,Garry's Mod,684935,2006-11-29,9.99,0,Overwhelmingly Positive,9.0,25.0,"['Sandbox', 'Multiplayer', 'Funny', 'Moddable'...",20.0,"['Indie', 'Simulation']",2.0,Valve,other,2006.0,25.0
6,Rust,598684,2018-02-08,39.99,0,Very Positive,8.0,25.0,"['Survival', 'Crafting', 'Multiplayer', 'Open ...",20.0,"['Action', 'Adventure', 'Indie', 'Massively Mu...",5.0,Facepunch Studios,other,2018.0,25.0
26,Among Us,534568,2018-11-16,4.99,0,Very Positive,8.0,6.0,"['Multiplayer', 'Online Co-Op', 'Space', 'Soci...",20.0,['Casual'],1.0,Innersloth,other,2018.0,6.0
184,PAYDAY 2,500239,2013-08-13,9.99,0,Very Positive,8.0,10.0,"['Co-op', 'Action', 'FPS', 'Heist', 'Looter Sh...",20.0,[],0.0,Starbreeze Publishing AB,other,2013.0,10.0
599,The WitcherÂ® 3: Wild Hunt,496687,2015-05-18,39.99,0,Overwhelmingly Positive,9.0,16.0,"['Open World', 'RPG', 'Story Rich', 'Atmospher...",20.0,['RPG'],1.0,CD PROJEKT RED,other,2015.0,16.0
59,Left 4 Dead 2,479077,2009-11-17,9.99,0,Overwhelmingly Positive,9.0,28.0,"['Zombies', 'Co-op', 'FPS', 'Multiplayer', 'Sh...",20.0,['Action'],1.0,Valve,other,2009.0,28.0
12,Dead by Daylight,446261,2016-06-14,19.99,1,Very Positive,8.0,17.0,"['Horror', 'Survival Horror', 'Multiplayer', '...",20.0,['Action'],1.0,Behaviour Interactive Inc.,other,2016.0,17.0
39,ARK: Survival Evolved,418832,2017-08-27,49.99,0,Very Positive,8.0,21.0,"['Open World Survival Craft', 'Survival', 'Ope...",20.0,"['Action', 'Adventure', 'Indie', 'Massively Mu...",8.0,Studio Wildcard,other,2017.0,21.0
221,Euro Truck Simulator 2,414244,2012-10-12,19.99,1,Overwhelmingly Positive,9.0,24.0,"['Simulation', 'Driving', 'Automobile Sim', 'O...",20.0,"['Indie', 'Simulation', 'SCS Software']",3.0,SCS Software,other,2012.0,24.0
19,Cyberpunk 2077,407256,2020-12-09,59.99,0,Mostly Positive,7.0,18.0,"['Cyberpunk', 'Open World', 'RPG', 'Sci-fi', '...",20.0,['RPG'],1.0,CD PROJEKT RED,other,2020.0,18.0
23,Fall Guys: Ultimate Knockout,356033,2020-08-04,19.99,0,Very Positive,8.0,11.0,"['Multiplayer', 'Funny', 'Battle Royale', 'Onl...",20.0,"['Action', 'Casual', 'Indie', 'Massively Multi...",5.0,Devolver Digital,Devolver Digital,2020.0,11.0
17,Stardew Valley,346111,2016-02-26,14.99,0,Overwhelmingly Positive,9.0,12.0,"['Farming Sim', 'Life Sim', 'RPG', 'Pixel Grap...",20.0,"['Indie', 'RPG', 'Simulation']",3.0,ConcernedApe,other,2016.0,12.0

# dummies of lists?
tags and genres are lists, seeing how to dummify them.

In [106]:
pd.get_dummies(reviewsdf.tags, drop_first=True)

,"[""Beat 'em up"", '2D Fighter', 'Martial Arts', 'Fighting', 'Management', 'Action-Adventure', 'Character Customization', '2.5D', 'Choices Matter', 'Multiple Endings', 'Action', 'Narration', 'Colorful', 'Hand-drawn', 'Score Attack', 'Mystery', 'America', 'Combat', 'Co-op Campaign', 'Singleplayer']","[""Beat 'em up"", 'Action', 'Arcade', 'Classic', '2D', 'Great Soundtrack', 'Retro', 'Local Co-Op']","[""Beat 'em up"", 'Action', 'Local Multiplayer', '2D', 'Local Co-Op', 'Multiple Endings', 'Indie', 'Great Soundtrack', 'Classic', 'Arcade', 'Female Protagonist', 'Side Scroller', 'Retro', 'Anime', 'Pixel Graphics', 'Fighting', 'Difficult', 'Singleplayer', 'Choices Matter', 'Post-apocalyptic']","[""Beat 'em up"", 'Arcade', 'Retro', 'Local Co-Op', '1980s', 'Pixel Graphics', '2D', 'Action', 'Ninja', 'Platformer', 'Cartoony', 'Colorful', ""1990's"", 'America', 'Co-op', 'Combat', 'Local Multiplayer', 'Multiplayer', 'Singleplayer']","[""Beat 'em up"", 'Co-op', 'Great Soundtrack', 'Action', '1980s', 'Arcade', 'Retro', 'Side Scroller', 'Indie', 'Local Multiplayer', 'Online Co-Op', 'Local Co-Op', 'Classic', 'Remake', 'Fighting', '2D', 'Platformer', 'Controller', 'Funny']","[""Beat 'em up"", 'Fantasy', '2D', 'Classic', 'Action', 'Retro']","[""Beat 'em up"", 'Platformer', 'Fighting', 'Arcade', '2D', 'Side Scroller', 'Action', 'Cyberpunk', 'Cartoony', 'Comedy', 'Hack and Slash', 'Adventure', 'Singleplayer', 'Indie', 'Controller', 'Colorful', '2D Fighter', 'Action Roguelike', 'Metroidvania', 'Gore']","[""Beat 'em up"", 'Retro', 'Indie', 'Action', 'RPG', 'Pixel Graphics', 'Action RPG', 'PvE', 'PvP', '2D', 'Competitive', 'Online Co-Op', 'Open World', 'Co-op', 'Local Co-Op', 'Cartoon', '4 Player Local', 'Local Multiplayer', 'Side Scroller', 'Great Soundtrack']","[""Beat 'em up"", 'Time Management', 'Management', '2D Fighter', 'Boxing', 'Fighting', 'Sports', 'RPG', 'Arcade', '2D', 'Pixel Graphics', 'Choices Matter', 'Funny', 'Simulation', 'Story Rich', 'Cartoony', 'Action', 'Retro', 'Atmospheric', ""1990's""]","[""Shoot 'Em Up"", 'Action', 'Arcade', 'Psychedelic', 'Colorful', 'Relaxing', 'Abstract', 'Score Attack', 'Indie', 'Singleplayer', 'VR']",...,"['Zombies', 'Platformer', 'Indie', 'Action', 'Post-apocalyptic', 'Adventure', 'Atmospheric', 'Side Scroller', 'Singleplayer', 'Parkour', '2D', 'Survival', 'Horror', '2.5D', 'Puzzle', 'Great Soundtrack', 'Controller', 'Short', 'Story Rich', 'Noir']","['Zombies', 'Story Rich', 'Choices Matter', 'Adventure', 'Post-apocalyptic', 'Atmospheric', 'Episodic', 'Singleplayer', 'Survival', 'Gore', 'Action', 'Choose Your Own Adventure', 'Point & Click', 'Horror', 'Violent', 'Drama', 'Female Protagonist', 'Comic Book', 'Visual Novel', 'Casual']","['Zombies', 'Survival Horror', 'Horror', 'Online Co-Op', 'Open World', 'Parkour', 'First-Person', 'Open World Survival Craft', 'Survival', 'Action', 'FPS', 'Gore', 'PvP', 'PvE', 'Stealth', 'Post-apocalyptic', 'Story Rich', 'Hack and Slash', 'Action RPG', 'RPG']","['Zombies', 'Survival Horror', 'Horror', 'Remake', 'Singleplayer', 'Third Person', 'Gore', 'Action', 'Atmospheric', 'Puzzle', 'Violent', 'Story Rich', 'Classic', 'Survival', 'Dark', 'Female Protagonist', 'Multiplayer', 'Adventure', 'Shooter', 'Difficult']","['Zombies', 'Survival', 'Co-op', 'Open World', 'Multiplayer', 'Action', 'Gore', 'Horror', 'First-Person', 'FPS', 'Online Co-Op', 'Crafting', 'RPG', 'Singleplayer', 'Survival Horror', 'Adventure', 'Violent', 'Nudity', 'Controller', 'Female Protagonist']","['Zombies', 'Survival', 'Open World', 'Base Building', 'Post-apocalyptic', 'Action', 'Singleplayer', 'RPG', 'Third Person', 'Simulation', 'Sandbox', 'Multiplayer', 'Survival Horror', 'Atmospheric', 'Gore', 'Crafting', 'Co-op', 'Perma Death', 'Adventure', 'Great Soundtrack']","['Zombies', 'Survival', 'RPG', 'Turn-Based', 'Strategy', 'Post-apocalyptic', 'Singleplayer', 'Turn-Based Strategy', 'Indie', 'Kickstarter', 'Horror', 'Turn-Based Combat', 'Early Access', 'Open World', 'Sandbox', 'Tactical', 'Simulation', 'Survival Horror', 'Isometric', 'Action']","['Zombies', 'Violent', 'Top-Down Shooter', 'Gore', 'Strategy', 'Tower Defense', 'Shooter', 'Arena Shooter', 'Base Building', 'Twin Stick Shooter', 'Isometric', 'Action', 'Survival', 'Indie', 'Co-op', 'Multiplayer', 'Online Co-Op', 'Local Multiplayer', '4 Player Local', 'Local Co-Op']","['Zombies', 'World War II', 'FPS', 'Multiplayer', 'Action', 'Shooter', 'Co-op', 'Moddable', 'First-Person', 'Singleplayer', 'War', 'Online Co-Op', 'Gore', 'Historical', 'Classic', 'Survival', 'Great Soundtrack', 'Tanks', 'Adventure', 'Horror']",[]
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5523,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5525,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5526,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5527,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [142]:
tags_list=[]

In [143]:
def build_tags_list(tag):
    for items in tag:
        tags_list.extend(items)

In [144]:
reviewsdf.tags.apply(build_tags_list)

0       None
1       None
2       None
3       None
4       None
        ...
5523    None
5524    None
5525    None
5526    None
5527    None
Name: tags, Length: 5521, dtype: object

In [157]:
reviewsdf.iloc[0].tags.split()[0]

"['Adventure',"

In [158]:
reviewsdf.iloc[0].tags.split()[1]

"'Multiplayer',"

In [159]:
tags_list

['[',
 "'",
 'A',
 'd',
 'v',
 'e',
 'n',
 't',
 'u',
 'r',
 'e',
 "'",
 ',',
 ' ',
 "'",
 'M',
 'u',
 'l',
 't',
 'i',
 'p',
 'l',
 'a',
 'y',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'O',
 'p',
 'e',
 'n',
 ' ',
 'W',
 'o',
 'r',
 'l',
 'd',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'i',
 'r',
 'a',
 't',
 'e',
 's',
 "'",
 ',',
 ' ',
 "'",
 'A',
 'c',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'C',
 'o',
 '-',
 'o',
 'p',
 "'",
 ',',
 ' ',
 "'",
 'O',
 'n',
 'l',
 'i',
 'n',
 'e',
 ' ',
 'C',
 'o',
 '-',
 'O',
 'p',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'a',
 'i',
 'l',
 'i',
 'n',
 'g',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'v',
 'P',
 "'",
 ',',
 ' ',
 "'",
 'F',
 'i',
 'r',
 's',
 't',
 '-',
 'P',
 'e',
 'r',
 's',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'E',
 'x',
 'p',
 'l',
 'o',
 'r',
 'a',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'N',
 'a',
 'v',
 'a',
 'l',
 "'",
 ',',
 ' ',
 "'",
 'F',
 'u',
 'n',
 'n',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'v',
 'E',
 "'",
 ',',
 ' ',
 "'",
 'A',
 't',
 'm',
 'o',
 's',
 'p',
 'h',
 'e',
 'r',
 'i',
 'c',
 "'",
 ',',
 ' ',
 "'",
 'M',
 'a',
 's',
 's',
 'i',
 'v',
 'e',
 'l',
 'y',
 ' ',
 'M',
 'u',
 'l',
 't',
 'i',
 'p',
 'l',
 'a',
 'y',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'w',
 'o',
 'r',
 'd',
 'p',
 'l',
 'a',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'G',
 'r',
 'e',
 'a',
 't',
 ' ',
 'S',
 'o',
 'u',
 'n',
 'd',
 't',
 'r',
 'a',
 'c',
 'k',
 "'",
 ',',
 ' ',
 "'",
 'F',
 'P',
 'S',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'i',
 'n',
 'g',
 'l',
 'e',
 'p',
 'l',
 'a',
 'y',
 'e',
 'r',
 "'",
 ']',
 '[',
 "'",
 'C',
 'o',
 '-',
 'o',
 'p',
 "'",
 ',',
 ' ',
 "'",
 'A',
 'd',
 'v',
 'e',
 'n',
 't',
 'u',
 'r',
 'e',
 "'",
 ',',
 ' ',
 "'",
 '3',
 'D',
 ' ',
 'P',
 'l',
 'a',
 't',
 'f',
 'o',
 'r',
 'm',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'u',
 'z',
 'z',
 'l',
 'e',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'u',
 'z',
 'z',
 'l',
 'e',
 ' ',
 'P',
 'l',
 'a',
 't',
 'f',
 'o',
 'r',
 'm',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'l',
 'a',
 't',
 'f',
 'o',
 'r',
 'm',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'A',
 'c',
 't',
 'i',
 'o',
 'n',
 '-',
 'A',
 'd',
 'v',
 'e',
 'n',
 't',
 'u',
 'r',
 'e',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'p',
 'l',
 'i',
 't',
 ' ',
 'S',
 'c',
 'r',
 'e',
 'e',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'F',
 'e',
 'm',
 'a',
 'l',
 'e',
 ' ',
 'P',
 'r',
 'o',
 't',
 'a',
 'g',
 'o',
 'n',
 'i',
 's',
 't',
 "'",
 ',',
 ' ',
 "'",
 'S',
 't',
 'o',
 'r',
 'y',
 ' ',
 'R',
 'i',
 'c',
 'h',
 "'",
 ',',
 ' ',
 "'",
 'A',
 'c',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'A',
 't',
 'm',
 'o',
 's',
 'p',
 'h',
 'e',
 'r',
 'i',
 'c',
 "'",
 ',',
 ' ',
 "'",
 'E',
 'm',
 'o',
 't',
 'i',
 'o',
 'n',
 'a',
 'l',
 "'",
 ',',
 ' ',
 "'",
 'C',
 'o',
 '-',
 'o',
 'p',
 ' ',
 'C',
 'a',
 'm',
 'p',
 'a',
 'i',
 'g',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'L',
 'o',
 'c',
 'a',
 'l',
 ' ',
 'C',
 'o',
 '-',
 'O',
 'p',
 "'",
 ',',
 ' ',
 "'",
 'L',
 'o',
 'c',
 'a',
 'l',
 ' ',
 'M',
 'u',
 'l',
 't',
 'i',
 'p',
 'l',
 'a',
 'y',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'E',
 'x',
 'p',
 'l',
 'o',
 'r',
 'a',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'O',
 'n',
 'l',
 'i',
 'n',
 'e',
 ' ',
 'C',
 'o',
 '-',
 'O',
 'p',
 "'",
 ',',
 ' ',
 "'",
 'M',
 'u',
 'l',
 't',
 'i',
 'p',
 'l',
 'a',
 'y',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'M',
 'i',
 'n',
 'i',
 'g',
 'a',
 'm',
 'e',
 's',
 "'",
 ']',
 '[',
 "'",
 'O',
 'p',
 'e',
 'n',
 ' ',
 'W',
 'o',
 'r',
 'l',
 'd',
 ' ',
 'S',
 'u',
 'r',
 'v',
 'i',
 'v',
 'a',
 'l',
 ' ',
 'C',
 'r',
 'a',
 'f',
 't',
 "'",
 ',',
 ' ',
 "'",
 'O',
 'n',
 'l',
 'i',
 'n',
 'e',
 ' ',
 'C',
 'o',
 '-',
 'O',
 'p',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'u',
 'r',
 'v',
 'i',
 'v',
 'a',
 'l',
 "'",
 ',',
 ' ',
 "'",
 'O',
 'p',
 'e',
 'n',
 ' ',
 'W',
 'o',
 'r',
 'l',
 'd',
 "'",
 ',',
 ' ',
 "'",
 'C',
 'r',
 'a',
 'f',
 't',
 'i',
 'n',
 'g',
 "'",
 ',',
 ' ',
 "'",
 'E',
 'x',
 'p',
 'l',
 'o',
 'r',
 'a',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'B',
 'u',
 'i',
 'l',
 'd',
 'i',
 'n',
 'g',
 "'",
 ',',
 ' ',
 "'",
 'M',
 'u',
 'l',
 't',
 'i',
 'p',
 'l',
 'a',
 'y',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'C',
 'o',
 '-',
 'o',
 'p',
 "'",
 ',',
 ' ',
 "'",
 'M',
 'y',
 't',
 'h',
 'o',
 'l',
 'o',
 'g',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'a',
 'n',
 'd',
 'b',
 'o',
 'x',
 "'",
 ',',
 ' ',
 "'",
 'B',
 'a',
 's',
 'e',
 ' ',
 'B',
 'u',
 'i',
 'l',
 'd',
 'i',
 'n',
 'g',
 "'",
 ',',
 ' ',
 "'",
 'A',
 'd',
 'v',
 'e',
 'n',
 't',
 'u',
 'r',
 'e',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'a',
 'i',
 'l',
 'i',
 'n',
 'g',
 "'",
 ',',
 ' ',
 "'",
 'E',
 'a',
 'r',
 'l',
 'y',
 ' ',
 'A',
 'c',
 'c',
 'e',
 's',
 's',
 "'",
 ',',
 ' ',
 "'",
 'R',
 'P',
 'G',
 "'",
 ',',
 ' ',
 "'",
 'A',
 'c',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'I',
 'n',
 'd',
 'i',
 'e',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'v',
 'P',
 "'",
 ',',
 ' ',
 "'",
 'F',
 'i',
 's',
 'h',
 'i',
 'n',
 'g',
 "'",
 ']',
 '[',
 "'",
 'A',
 'd',
 'v',
 'e',
 'n',
 't',
 'u',
 'r',
 'e',
 "'",
 ',',
 ' ',
 "'",
 'O',
 'p',
 'e',
 'n',
 ' ',
 'W',
 'o',
 'r',
 'l',
 'd',
 "'",
 ',',
 ' ',
 "'",
 'A',
 'c',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'F',
 'e',
 'm',
 'a',
 'l',
 'e',
 ' ',
 'P',
 'r',
 'o',
 't',
 'a',
 'g',
 'o',
 'n',
 'i',
 's',
 't',
 "'",
 ',',
 ' ',
 "'",
 'R',
 'P',
 'G',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'i',
 'n',
 'g',
 'l',
 'e',
 'p',
 'l',
 'a',
 'y',
 'e',
 'r',
 "'",
 ',',
 ' ',
 "'",
 'S',
 't',
 'o',
 'r',
 'y',
 ' ',
 'R',
 'i',
 'c',
 'h',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'o',
 's',
 't',
 '-',
 'a',
 'p',
 'o',
 'c',
 'a',
 'l',
 'y',
 'p',
 't',
 'i',
 'c',
 "'",
 ',',
 ' ',
 "'",
 'R',
 'o',
 'b',
 'o',
 't',
 's',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'c',
 'i',
 '-',
 'f',
 'i',
 "'",
 ',',
 ' ',
 "'",
 'E',
 'x',
 'p',
 'l',
 'o',
 'r',
 'a',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'T',
 'h',
 'i',
 'r',
 'd',
 ' ',
 'P',
 'e',
 'r',
 's',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'B',
 'e',
 'a',
 'u',
 't',
 'i',
 'f',
 ...]