In [5]:
import pandas as pd
import numpy as np

In [7]:
totaldf = pd.read_csv('Data/totaldf.csv')

In [10]:
totaldf.columns

Index(['Unnamed: 0', 'title', 'link', 'release_date', 'been_sale',
       'orig_price', 'num_reviews', 'review_rating', 'num_languages', 'tags',
       'num_tags', 'genres', 'num_genres', 'publisher'],
      dtype='object')

In [12]:
totaldf.drop(columns=['Unnamed: 0'],inplace=True)

In [14]:
totaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14981 entries, 0 to 14980
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14981 non-null  object
 1   link           14981 non-null  object
 2   release_date   14939 non-null  object
 3   been_sale      14981 non-null  int64
 4   orig_price     14981 non-null  object
 5   num_reviews    5652 non-null   object
 6   review_rating  13913 non-null  object
 7   num_languages  6890 non-null   object
 8   tags           14980 non-null  object
 9   num_tags       14980 non-null  float64
 10  genres         14981 non-null  object
 11  num_genres     14981 non-null  float64
 12  publisher      14965 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.5+ MB

In [16]:
reviewsdf = totaldf[totaldf.num_reviews == 'HELP']

In [17]:
reviewsdf.shape

(124, 13)

In [18]:
totaldf.replace('HELP', np.nan, inplace=True)

In [30]:
totaldf[totaldf.num_reviews != np.nan]

,title,link,release_date,been_sale,orig_price,num_reviews,review_rating,num_languages,tags,num_tags,genres,num_genres,publisher
0,Sea of Thieves,https://store.steampowered.com/app/1172620/Sea...,"Jun 3, 2020",1,$39.99,"111,078",Very Positive,13,"['Adventure', 'Multiplayer', 'Open World', 'Pi...",20.0,"['Action', 'Adventure']",2.0,Xbox Game Studios
1,It Takes Two,https://store.steampowered.com/app/1426210/It_...,"Mar 26, 2021",0,$39.99,"11,813",Overwhelmingly Positive,12,"['Co-op', 'Adventure', '3D Platformer', 'Puzzl...",20.0,"['Action', 'Adventure', 'Hazelight']",3.0,Electronic Arts
2,Valheim,https://store.steampowered.com/app/892970/Valh...,"Feb 2, 2021",0,$19.99,"216,651",Overwhelmingly Positive,12,"['Open World Survival Craft', 'Online Co-Op', ...",20.0,"['Action', 'Adventure', 'Indie', 'RPG', 'Early...",6.0,Coffee Stain Publishing
3,Horizon Zero Dawn™ Complete Edition,https://store.steampowered.com/app/1151640/Hor...,"Aug 7, 2020",1,$49.99,"45,704",Mostly Positive,20,"['Adventure', 'Open World', 'Action', 'Female ...",20.0,"['Action', 'Adventure', 'RPG']",3.0,"PlayStation Mobile, Inc."
4,Phasmophobia,https://store.steampowered.com/app/739630/Phas...,"Sep 18, 2020",0,$13.99,"256,136",Overwhelmingly Positive,25,"['Horror', 'Online Co-Op', 'Multiplayer', 'Psy...",20.0,[],0.0,Kinetic Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14976,Dinosaur Hunt - Dragon Hunter Expansion Pack,https://store.steampowered.com/app/408102/Dino...,"Dec 18, 2015",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14977,Dinosaur Hunt - Giant Spiders Hunter Expansion...,https://store.steampowered.com/app/431191/Dino...,"Mar 16, 2016",0,$0.99,NaN,Mixed,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14978,Dinosaur Hunt - Brontosaurus Expansion Pack,https://store.steampowered.com/app/434942/Dino...,"Mar 16, 2016",0,$0.99,NaN,Mixed,NaN,"['Adventure', 'Indie', 'Simulation', 'Action']",4.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14979,"Dinosaur Hunt - Vampires, Gargoyles, Mutants H...",https://store.steampowered.com/app/431190/Dino...,"Jan 22, 2016",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros
14980,Dinosaur Hunt - Stegosaurus Expansion Pack,https://store.steampowered.com/app/408100/Dino...,"Nov 13, 2015",0,$0.99,NaN,Mostly Positive,NaN,"['Adventure', 'Indie', 'Simulation']",3.0,"['Action', 'Adventure', 'Indie', 'Simulation']",4.0,Racing Bros

In [26]:
totaldf[totaldf.num_reviews>1]

TypeError: '>' not supported between instances of 'str' and 'int'

In [38]:
#reviews_df = totaldf.dropna(axis=0, subset=[totaldf.num_reviews])

In [40]:
droppeddf = totaldf.dropna()

In [41]:
droppeddf.shape

(2101, 13)

In [44]:
int(droppeddf.num_reviews)

TypeError: cannot convert the series to <class 'int'>

In [46]:
totaldf.num_reviews.astype('float')

ValueError: could not convert string to float: '111,078'

In [69]:
def converter (str):
    str.replace(',', '')

In [50]:
totaldf.loc[1:3,'num_reviews']

1     11,813
2    216,651
3     45,704
Name: num_reviews, dtype: object

In [52]:
strang = '11,813'
strang

'11,813'

In [58]:
strang.replace(',','')

'11813'

In [71]:
totaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14981 entries, 0 to 14980
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14981 non-null  object
 1   link           14981 non-null  object
 2   release_date   14939 non-null  object
 3   been_sale      14981 non-null  int64
 4   orig_price     14981 non-null  object
 5   num_reviews    5528 non-null   object
 6   review_rating  13908 non-null  object
 7   num_languages  6744 non-null   object
 8   tags           14980 non-null  object
 9   num_tags       14980 non-null  float64
 10  genres         14981 non-null  object
 11  num_genres     14981 non-null  float64
 12  publisher      14964 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.5+ MB

In [72]:
totaldf.num_reviews.apply(converter)

AttributeError: 'float' object has no attribute 'replace'

In [123]:
list1=[]
for nums in totaldf.num_reviews:
    list1.append(nums)

In [124]:
len(list1)

14981

In [128]:
list2 = []
for items in list1:
        list2.append(str(items.replace(',','')))

In [126]:
list1[0].replace(',','')

'111078'

In [130]:
totaldf.replace('nan',np.nan,inplace=True)

In [129]:
list2

['111078',
 '11813',
 '216651',
 '45704',
 '256136',
 '23944',
 '598684',
 '38064',
 '8397',
 '73464',
 '74220',
 '87734',
 '446261',
 'nan',
 'nan',
 '148259',
 '235',
 '37643',
 '60517',
 '346111',
 'nan',
 '7953',
 'nan',
 '407256',
 '174885',
 '9324',
 '260518',
 '356033',
 '111244',
 'nan',
 'nan',
 '302018',
 'nan',
 '534568',
 'nan',
 '21377',
 'nan',
 'nan',
 'nan',
 '138362',
 '263559',
 'nan',
 'nan',
 'nan',
 '5372',
 'nan',
 '721278',
 'nan',
 '66011',
 'nan',
 '43581',
 '3203',
 '55841',
 'nan',
 '69968',
 '163092',
 'nan',
 '84207',
 '418832',
 '32968',
 'nan',
 '12411',
 '1469',
 '5348',
 '40998',
 '897872',
 '40082',
 '154',
 '98920',
 '189749',
 'nan',
 'nan',
 '137725',
 '23181',
 '684935',
 'nan',
 '706',
 'nan',
 '21668',
 'nan',
 '5887',
 '5008',
 '119296',
 'nan',
 '84494',
 '479077',
 '96979',
 '159604',
 '499',
 '5245',
 'nan',
 '912',
 '18590',
 '19814',
 '17350',
 '1697393',
 'nan',
 'nan',
 '4296',
 '40674',
 '50151',
 '24066',
 '99684',
 '24438',
 '91488',
 '12957',
 '436',
 '5771',
 'nan',
 '156325',
 '1575',
 '16365',
 '29730',
 '3288',
 '156374',
 '17113',
 '19251',
 '129675',
 '114132',
 '872',
 '3310',
 '132839',
 'nan',
 'nan',
 '51694',
 '28213',
 '36624',
 '71036',
 '162',
 'nan',
 '189657',
 'nan',
 '3674',
 'nan',
 '2174',
 '19921',
 '10879',
 '3153',
 '5350',
 '1631',
 '76947',
 '32911',
 '1855',
 '1376',
 '289',
 '85913',
 '32201',
 '21785',
 '1798',
 '21997',
 'nan',
 '8084',
 '37348',
 'nan',
 '8415',
 'nan',
 'nan',
 '243237',
 'nan',
 '252766',
 '2923',
 '1207',
 '19658',
 '2525',
 '36553',
 '54730',
 '10070',
 'nan',
 'nan',
 '25498',
 '1807',
 '3713',
 '554',
 '64602',
 '5548',
 'nan',
 '28896',
 '6673',
 '12746',
 'nan',
 '2421',
 '13768',
 '35624',
 '40480',
 '71432',
 'nan',
 '43662',
 '6891',
 'nan',
 'nan',
 'nan',
 '1608',
 '33495',
 'nan',
 '20101',
 '36085',
 '3352',
 '3899',
 '16389',
 '146471',
 'nan',
 '28259',
 'nan',
 '57636',
 '1077',
 '92596',
 '162',
 '1271',
 'nan',
 '713',
 '17450',
 '10443',
 '126390',
 '66162',
 '6455',
 'nan',
 '87',
 '32670',
 '5994',
 '31048',
 '68738',
 '46791',
 '271',
 'nan',
 '30302',
 '72555',
 '5200',
 'nan',
 '1956',
 '12642',
 '43561',
 '5658',
 '19604',
 '43602',
 '25392',
 '6677',
 '25734',
 'nan',
 '44413',
 '22623',
 'nan',
 'nan',
 '500239',
 '21733',
 '100912',
 '156192',
 'nan',
 '9386',
 'nan',
 '144760',
 'nan',
 '69002',
 '35459',
 '11442',
 'nan',
 '21259',
 '7073',
 '45923',
 '35202',
 'nan',
 'nan',
 'nan',
 '11177',
 '62199',
 'nan',
 'nan',
 '236258',
 '21092',
 'nan',
 'nan',
 'nan',
 '70361',
 '74238',
 '13761',
 'nan',
 '101449',
 'nan',
 '11053',
 '90027',
 '18424',
 '11278',
 'nan',
 'nan',
 '13863',
 'nan',
 '15870',
 '1787',
 'nan',
 '68',
 '2046',
 '807',
 '16038',
 '2286',
 '3264',
 'nan',
 '41269',
 '494',
 '19286',
 '414244',
 '150489',
 '21911',
 'nan',
 '88979',
 '33715',
 'nan',
 '4643',
 '4689',
 'nan',
 '35848',
 '233948',
 '15285',
 '17321',
 '88433',
 'nan',
 '41922',
 'nan',
 '1616',
 '52291',
 'nan',
 '1174',
 'nan',
 '16568',
 '78145',
 'nan',
 '11827',
 'nan',
 '1825',
 '73991',
 '24378',
 '20789',
 '1892',
 '7545',
 '9290',
 'nan',
 'nan',
 '5643',
 '18133',
 '4718',
 '100910',
 '1774',
 '72683',
 'nan',
 '652',
 '36385',
 '9564',
 '14866',
 '1388',
 '102771',
 'nan',
 '1411',
 '73',
 '5662',
 '32633',
 '7483',
 'nan',
 '878',
 'nan',
 '64248',
 '124210',
 'nan',
 'nan',
 'nan',
 '60268',
 'nan',
 '37942',
 '43520',
 '171',
 '1320',
 'nan',
 '1123',
 'nan',
 'nan',
 'nan',
 '4420',
 'nan',
 'nan',
 '32171',
 '18750',
 'nan',
 '46538',
 '4331',
 '10956',
 '63608',
 '6950',
 '3712',
 '29063',
 '12519',
 '28',
 '1311',
 '28264',
 '28109',
 '16476',
 '623',
 '3364',
 'nan',
 '18224',
 '19759',
 '272',
 '4682',
 '9146',
 '24481',
 'nan',
 '45302',
 'nan',
 '34801',
 'nan',
 '5511',
 '25191',
 '450',
 '13194',
 '5971',
 '22899',
 '13692',
 '26036',
 '23110',
 '82866',
 'nan',
 '42617',
 '13118',
 '91680',
 '17501',
 '65984',
 '1775',
 '24141',
 'nan',
 '2059',
 'nan',
 '2715',
 '86986',
 '1528',
 '18222',
 '4063',
 '4501',
 'nan',
 '174071',
 '11602',
 '6984',
 'nan',
 '1458',
 'nan',
 '236048',
 '33220',
 '1091',
 '1644',
 '6396',
 '381',
 '5380',
 'nan',
 '15706',
 '60221',
 '3002',
 '34217',
 '2790',
 'nan',
 'nan',
 '18071',
 '16871',
 '30040',
 'nan',
 'nan',
 '412',
 '4811',
 'nan',
 'nan',
 '3057',
 '34682',
 'nan',
 '22178',
 '6157',
 '121215',
 'nan',
 'nan',
 '10571',
 '585',
 '858',
 '1511',
 'nan',
 '98134',
 '10044',
 '7071',
 '40398',
 'nan',
 '17347',
 'nan',
 '25808',
 'nan',
 '23347',
 'nan',
 '2017',
 '8616',
 'nan',
 '19289',
 '100',
 'nan',
 '6932',
 '43677',
 '37857',
 'nan',
 '59056',
 '54811',
 '11649',
 '1208',
 '8125',
 '24543',
 '731',
 '19178',
 '8657',
 '99037',
 '117497',
 'nan',
 'nan',
 'nan',
 '613',
 '503',
 '2779',
 '6834',
 '1444',
 'nan',
 '8899',
 '2283',
 'nan',
 '26424',
 '2007',
 'nan',
 'nan',
 '724',
 'nan',
 '34837',
 '527',
 '14570',
 '6089',
 '25138',
 '53686',
 '62564',
 '10522',
 'nan',
 '31480',
 '29228',
 '3396',
 '959',
 'nan',
 '1127',
 '4483',
 '45936',
 '1525',
 '4039',
 '5055',
 '57218',
 'nan',
 '3624',
 '39337',
 '4274',
 'nan',
 '1475',
 '9122',
 '1757',
 '21493',
 '60103',
 '69774',
 'nan',
 'nan',
 '17305',
 '16178',
 'nan',
 'nan',
 'nan',
 '5878',
 'nan',
 'nan',
 'nan',
 '3157',
 '10126',
 '13280',
 '926',
 '121163',
 'nan',
 'nan',
 'nan',
 '20625',
 '2034',
 '269',
 '2492',
 '781',
 '41570',
 'nan',
 '1974',
 '9956',
 '35048',
 '3652',
 'nan',
 '7878',
 'nan',
 '87060',
 '13745',
 '15737',
 'nan',
 '1018',
 'nan',
 '3502',
 'nan',
 'nan',
 '22409',
 '30264',
 '21294',
 'nan',
 '6173',
 '2237',
 '15248',
 '20088',
 '1208',
 '13943',
 '12378',
 'nan',
 'nan',
 'nan',
 'nan',
 '3620',
 'nan',
 'nan',
 '5453',
 'nan',
 '27604',
 '12303',
 'nan',
 '10302',
 '19176',
 '476',
 '10776',
 '10704',
 'nan',
 'nan',
 'nan',
 'nan',
 '882',
 '2597',
 '44547',
 '424',
 '3791',
 '13946',
 '40871',
 '8584',
 '1721',
 'nan',
 'nan',
 'nan',
 'nan',
 '8484',
 'nan',
 '3441',
 'nan',
 '1864',
 '5054',
 'nan',
 '124',
 'nan',
 'nan',
 '3389',
 '5444',
 '652',
 '7906',
 '23310',
 '64',
 '4174',
 '517',
 'nan',
 '1854',
 '30015',
 '4449',
 'nan',
 '11555',
 'nan',
 '2854',
 'nan',
 'nan',
 '2232',
 '7685',
 '2444',
 '400',
 '4062',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 '75018',
 '7236',
 '5870',
 'nan',
 '104',
 '1895',
 '1220',
 'nan',
 'nan',
 '15699',
 'nan',
 '6096',
 '1375',
 '21154',
 '3527',
 '29529',
 '359',
 '564',
 '2115',
 '6160',
 '5528',
 'nan',
 'nan',
 '8845',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 '10580',
 '6860',
 '25582',
 'nan',
 '52374',
 '23470',
 '4125',
 '85057',
 'nan',
 '5660',
 'nan',
 '3039',
 '21789',
 'nan',
 '6304',
 '59236',
 'nan',
 'nan',
 '30956',
 '2104',
 '763',
 '8434',
 '14209',
 'nan',
 'nan',
 'nan',
 '30057',
 '5886',
 '3726',
 '13132',
 '17696',
 'nan',
 'nan',
 'nan',
 '1178',
 'nan',
 '2578',
 '13048',
 '4056',
 'nan',
 'nan',
 '37992',
 '3482',
 'nan',
 '527',
 '32709',
 'nan',
 'nan',
 'nan',
 '5561',
 '11309',
 'nan',
 '63953',
 'nan',
 '45030',
 '1065',
 '826',
 '30826',
 'nan',
 '10345',
 '3133',
 '6856',
 '6926',
 '45333',
 '544',
 '14524',
 '5245',
 '28350',
 '23092',
 'nan',
 '36333',
 '1822',
 'nan',
 'nan',
 'nan',
 '21392',
 'nan',
 '29972',
 '2318',
 '2357',
 '326',
 '113',
 '17787',
 '2775',
 '1035',
 '87224',
 '132',
 'nan',
 '3948',
 'nan',
 'nan',
 '1041',
 '88310',
 '1285',
 'nan',
 '28773',
 'nan',
 '13496',
 'nan',
 'nan',
 'nan',
 '8669',
 '8855',
 '51200',
 'nan',
 '5229',
 '9865',
 '256',
 '45805',
 '83',
 '1004',
 '7906',
 '4887',
 'nan',
 'nan',
 '2432',
 '5609',
 '2650',
 '3361',
 'nan',
 'nan',
 '89029',
 '8466',
 '5762',
 '12120',
 '7642',
 '685',
 'nan',
 'nan',
 '1564',
 '245',
 '156',
 'nan',
 '496687',
 'nan',
 '43468',
 '6156',
 'nan',
 '7877',
 'nan',
 'nan',
 '1944',
 '69264',
 'nan',
 '7037',
 'nan',
 'nan',
 '2827',
 '10892',
 '1063',
 '11918',
 '13264',
 '45795',
 'nan',
 '871',
 '38653',
 'nan',
 '317',
 '1222',
 '13210',
 '6337',
 'nan',
 '9698',
 'nan',
 'nan',
 'nan',
 '12924',
 'nan',
 'nan',
 'nan',
 '11776',
 'nan',
 '3524',
 '34905',
 '1381',
 '3152',
 '4322',
 '8282',
 'nan',
 'nan',
 '30310',
 '2842',
 '7947',
 '39991',
 '2493',
 'nan',
 'nan',
 '1430',
 'nan',
 '53536',
 'nan',
 '14',
 '14',
 'nan',
 '14',
 'nan',
 '34287',
 'nan',
 '19807',
 'nan',
 '4535',
 'nan',
 '193',
 'nan',
 '789',
 '41052',
 'nan',
 '1324',
 '122',
 'nan',
 '3637',
 'nan',
 'nan',
 '12185',
 'nan',
 '10863',
 '77661',
 'nan',
 '1288',
 '32792',
 'nan',
 'nan',
 'nan',
 '2476',
 '234',
 '11829',
 'nan',
 '49773',
 'nan',
 '1454',
 'nan',
 'nan',
 '4744',
 '661',
 'nan',
 '2068',
 '4061',
 'nan',
 '66068',
 '18998',
 'nan',
 '3239',
 'nan',
 '3290',
 'nan',
 '76489',
 '3950',
 '60638',
 '1055',
 '58407',
 '27060',
 'nan',
 '714',
 '2146',
 '28637',
 '93757',
 '4332',
 '6197',
 '652',
 '2875',
 'nan',
 'nan',
 '46365',
 '25425',
 'nan',
 '2379',
 '2742',
 '14182',
 'nan',
 '1595',
 '97',
 'nan',
 '9171',
 '7624',
 '513',
 '15839',
 'nan',
 '12966',
 'nan',
 'nan',
 '612',
 'nan',
 'nan',
 '1511',
 '3475',
 ...]

In [96]:
totaldf.num_reviews.as_numeric()

AttributeError: 'Series' object has no attribute 'as_numeric'

In [98]:
totaldf[totaldf.num_reviews.dropna()]

KeyError: "None of [Index(['111,078', '11,813', '216,651', '45,704', '256,136', '23,944',\n       '598,684', '38,064', '8,397', '73,464',\n       ...\n       '15', '10', '16', '487', '193', '155', '960', '56', '65', '47'],\n      dtype='object', length=5528)] are in the [columns]"

In [108]:
totaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14981 entries, 0 to 14980
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14981 non-null  object
 1   link           14981 non-null  object
 2   release_date   14939 non-null  object
 3   been_sale      14981 non-null  int64
 4   orig_price     14981 non-null  object
 5   num_reviews    5528 non-null   object
 6   review_rating  13908 non-null  object
 7   num_languages  6744 non-null   object
 8   tags           14980 non-null  object
 9   num_tags       14980 non-null  float64
 10  genres         14981 non-null  object
 11  num_genres     14981 non-null  float64
 12  publisher      14964 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.5+ MB

In [114]:
#totaldf.dropna(subset=totaldf.num_reviews)

In [119]:
totaldf.num_reviews.value_counts

<bound method IndexOpsMixin.value_counts of 0        111,078
1         11,813
2        216,651
3         45,704
4        256,136
          ...
14976        NaN
14977        NaN
14978        NaN
14979        NaN
14980        NaN
Name: num_reviews, Length: 14981, dtype: object>

In [122]:
totaldf.num_reviews = totaldf.num_reviews.astype(str)

In [134]:
totaldf.num_reviews = totaldf.num_reviews.astype(int)

ValueError: invalid literal for int() with base 10: '111,078'

In [145]:
totaldf.drop(totaldf.loc[totaldf['num_reviews'] == np.nan].index, inplace=True)

In [144]:
totaldf.shape

(14981, 13)

In [137]:
# cannot for the life of me figure out how to convert these data types or drop nulls

In [146]:
np.nan in totaldf.num_reviews

False

In [148]:
totaldf.num_reviews.value_counts

<bound method IndexOpsMixin.value_counts of 0        111,078
1         11,813
2        216,651
3         45,704
4        256,136
          ...
14976        NaN
14977        NaN
14978        NaN
14979        NaN
14980        NaN
Name: num_reviews, Length: 14981, dtype: object>