In [5]:
import pandas as pd
import numpy as np

In [7]:
totaldf = pd.read_csv('Data/totaldf.csv')

In [10]:
totaldf.columns

Index(['Unnamed: 0', 'title', 'link', 'release_date', 'been_sale',
       'orig_price', 'num_reviews', 'review_rating', 'num_languages', 'tags',
       'num_tags', 'genres', 'num_genres', 'publisher'],
      dtype='object')

In [12]:
totaldf.drop(columns=['Unnamed: 0'],inplace=True)

In [14]:
totaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14981 entries, 0 to 14980
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          14981 non-null  object
 1   link           14981 non-null  object
 2   release_date   14939 non-null  object
 3   been_sale      14981 non-null  int64
 4   orig_price     14981 non-null  object
 5   num_reviews    5652 non-null   object
 6   review_rating  13913 non-null  object
 7   num_languages  6890 non-null   object
 8   tags           14980 non-null  object
 9   num_tags       14980 non-null  float64
 10  genres         14981 non-null  object
 11  num_genres     14981 non-null  float64
 12  publisher      14965 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.5+ MB

In [16]:
reviewsdf = totaldf[totaldf.num_reviews == 'HELP']

In [17]:
reviewsdf.shape

(124, 13)

In [18]:
totaldf.replace('HELP', np.nan, inplace=True)

In [19]:
totaldf[totaldf.num_reviews == 'HELP']

Empty DataFrame
Columns: [title, link, release_date, been_sale, orig_price, num_reviews, review_rating, num_languages, tags, num_tags, genres, num_genres, publisher]
Index: []

<bound method IndexOpsMixin.value_counts of 0        111,078
1         11,813
2        216,651
3         45,704
4        256,136
          ...
14976        NaN
14977        NaN
14978        NaN
14979        NaN
14980        NaN
Name: num_reviews, Length: 14981, dtype: object>