In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
%matplotlib inline

In [3]:
prelimdf = pd.read_csv('Data/prelimdf.csv')

In [4]:
prelimdf.shape

(5528, 8)

In [5]:
prelimdf.head(1)

,Unnamed: 0,title,num_reviews,release_date,been_sale,orig_price,num_tags,num_genres
0,0,Sea of Thieves,111078,2020-06-03,1,39.99,20.0,2.0

In [7]:
prelimdf.drop(columns=['Unnamed: 0'],inplace=True)

In [8]:
prelimdf.head(1)

,title,num_reviews,release_date,been_sale,orig_price,num_tags,num_genres
0,Sea of Thieves,111078,2020-06-03,1,39.99,20.0,2.0